ul.nostyle{
	list-style-type:none;
	margin:0px;
	padding:0px;
	display:inline;
}
ul.nostyle li{
	margin:0px;
	padding:0px;
}
body{
	margin:0;
	padding:5px;
	font-family:"Tahoma","Helvetica";
	font-size:11px;
	color:#333333;
}
p{
	margin:0;
	padding:0;
}
img{
	border:0;
}
a{
	text-decoration:none;
	color:#001e96;
}
a:hover{
text-decoration:underline;
}
.clear{
	clear:both;
}
p
{ 
text-indent: 20px
}

#tabel_continut tbody > tr{
vertical-align:top;
}
#tabel_continut tbody > tr > td{
padding:0px;
margin:0px;
vertical-align:top;
}

#div_header{
padding-bottom:2px;
border-bottom:1px solid #d9e2ea;
}
/* Logo de sus */
#logo{
margin-left:25px;
font-weight:500;
font-family:"Helvetica";
font-size:32px;
color:#001e96;
}
/* Sfarsit logo de sus */


/* Box produs */
.box_produs{
width:200px;
float:left;
margin-right:2px;
text-align:left;
}
/* Sfarsit box produs */

.produs > h1{
font-weight:normal;
}

#footer{
background-image:url('http://www.universuljuridic.ro/images/footer_bg.gif');color:#ffffff;line-height:28px;padding-left:25px;padding-right:10px;
font-size:10px;
}
#footer a{
		color: #CCCCCC;
	text-decoration: none;
	
}
#footer a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	}

.produs h1 {
font-size:18px;
}
.produs .detalii h3{
display:inline;
}
.stanga ul li a:hover{
background-color:#d9e2ea;
}
.stanga ul li a{
display:block;
padding-left:3px;
padding-top:2px;
padding-bottom:2px;
border:1px solid #ffeeee;
height:100%;
width:100%;
}
.stanga ul li{
padding:0px;
margin:0px;
margin-left:5px;
}
.stanga ul{
list-style:none;
padding:0px;
margin:0px;
}
.stanga h3{
font-weight:normal;
}
.err{
color:#cc0000;
}
.meniu_sus a{
padding:5px;
}
.cautari_frecvente:hover{
color:#666666;
text-decoration:none;
}
.cautari_frecvente{
color:#dddddd;
}

.g3 {
	width: 180px;
	float: left;
}
.g4 {
	width: 240px;
	float: left;
}
.g13{
	width: 780px;
	float: left;
}
.g9{
	width: 530px;/*-10 din cauza la padding*/
	float: left;
}
.box_cautare input,.box_cautare select,.box_cautare option{
	font-size:9px;
	color:#666666;
}
.box_cautare input,select{
	border:1px solid #999999;
}
.box_cautare{
	padding-left:10px;padding-right:10px;height:40px;line-height:40px;background-color:#ededed;
}
.box_cautare_umbra{
	height:4px;line-height:4px;font-size:4px;background-color:#e1e1e1;
}
.box .el {
	font-size: 10px;
	line-height: 11px;
	padding: 4px;
	display: block;
	color: #ffffff;
}
.box .el:first {
	border-top: 1px solid #ffffff;
}
.box a.el:hover {
	
	background-image: url('http://www.universuljuridic.ro/images/li_arr.gif');
	background-position:100% 50%;
	background-repeat: no-repeat;
}
.box a.el{
	text-decoration: none;
	border-bottom: 1px solid #ffffff;
}
.box a.sub img{
	padding-left: 10px;
	padding-right: 4px;
	vertical-align: middle;
}
.box .header{
	padding-left: 3px;
	line-height: 22px;
	color: #ffffff;
	font-weight: bold;
}
.box {
	margin-bottom: 6px;
}
.centru{
	padding: 5px;
}
a.but_paginare {
	cursor:pointer;
	display: block;
}
h1 {
	font-weight: normal;
	font-size: 18px;
	text-align: center;
}
h2 {
	font-weight: bold;
	font-size: 16px;
}
		.meniu_sus img{
			vertical-align:middle;
			padding-left:10px;
			padding-right:10px;
}
		.meniu_sus{
			text-align:center;
			line-height:43px;
			margin-top:10px;
			width:768px;
			float:left;
			background-image:url('../img/ng.gif');
			height:43px;
		}