/* CSS Document */

/*=====GLOBALE======*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
address,caption,cite,code,dfn,h1,h2,h3, h4,h5,h6,th,var { font-style: normal; font-weight: normal;}
caption,th { text-align: left; }
q:before,q:after { content: ''; }
a { text-decoration: none;}
p{ font-size: 12px; line-height:18px; color: #333; margin-bottom:20px;}
p.last{ margin-bottom:45px;}
h1, h2, h3, h4, h5, h6 { color:#333;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color:#333;}
h1.page_title, h1.page_title a, h2.page_title, h2.page_title a{ font-size:22px; color:#336666; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif; margin-bottom:12px;}
h1.margin_bottom, h1.margin_bottom a{ margin-bottom:30px!important;}
h2.page_title span, h2.page_title a span{ font-family: 'droid_serifitalic', Arial, Helvetica, sans-serif; font-size:16px; color:#333;}
h1.page_title span, h1.page_title a span{ font-family: 'droid_sansbold', Arial, Helvetica, sans-serif; font-size:18px; color:#333;}
h2.left_margin{ margin-left:30px;}
ol, ul {list-style: none;}
blockquote, q { quotes: none;}
:focus { outline: 0;}
ins { text-decoration: none;}
del { text-decoration: line-through;}
table { border-collapse: collapse; border-spacing: 0;}
/* float clearing for IE6 */
* html .clearfix{ height: 1%; overflow: visible;}
/* float clearing for IE7 */
*+html .clearfix{ min-height: 1%;}
/* float clearing for everyone else */
.clearfix:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;}
.bold { font-weight: bold;}
.italic { font-style: italic;}
.clearBoth { clear: both; display: block; font-size: 0; height: 0; line-height: 0; overflow: hidden; width: 100%; vertical-align: super;}
.hidden { display: none;}
div::selection, span::selection, p::selection, li::selection, dd::selection, dt::selection, fieldset::selection, label::selection, input::selection, textarea::selection, table::selection, tr::selection, td::selection, iframe::selection, b::selection, i::selection, blockquote::selection, pre::selection, code::selection, strong::selection, em::selection, u::selection, sub::selection, sup::selection,  legend::selection, a::selection {
        background: #072945;
		color: #ffffff;
}
div::-moz-selection, span::-moz-selection, p::-moz-selection, li::-moz-selection, dd::-moz-selection, dt::-moz-selection, fieldset::-moz-selection, label::-moz-selection, input::-moz-selection, textarea::-moz-selection, table::-moz-selection, tr::-moz-selection, td::-moz-selection, iframe::-moz-selection, b::-moz-selection, i::-moz-selection, blockquote::-moz-selection, pre::-moz-selection, code::-moz-selection, strong::-moz-selection, em::-moz-selection, u::-moz-selection, sub::-moz-selection, sup::-moz-selection,  legend::-moz-selection, a::-moz-selection  {
        background: #072945;
		color: #ffffff;
}
/* @font-face
---------------------------------------------------------- */
@font-face {
    font-family: 'droid_sansregular';
    src: url('../font/droidsans-webfont.eot');
    src: url('../font/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/droidsans-webfont.woff') format('woff'),
         url('../font/droidsans-webfont.ttf') format('truetype'),
         url('../font/droidsans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid_sansbold';
    src: url('../font/droidsans-bold-webfont.eot');
    src: url('../font/droidsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/droidsans-bold-webfont.woff') format('woff'),
         url('../font/droidsans-bold-webfont.ttf') format('truetype'),
         url('../font/droidsans-bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid_serifregular';
    src: url('../font/droidserif-webfont.eot');
    src: url('../font/droidserif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/droidserif-webfont.woff') format('woff'),
         url('../font/droidserif-webfont.ttf') format('truetype'),
         url('../font/droidserif-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid_serifbold';
    src: url('../font/droidserif-bold-webfont.eot');
    src: url('../font/droidserif-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/droidserif-bold-webfont.woff') format('woff'),
         url('../font/droidserif-bold-webfont.ttf') format('truetype'),
         url('../font/droidserif-bold-webfont.svg#droid_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid_serifbold_italic';
    src: url('../font/droidserif-bolditalic-webfont.eot');
    src: url('../font/droidserif-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/droidserif-bolditalic-webfont.woff') format('woff'),
         url('../font/droidserif-bolditalic-webfont.ttf') format('truetype'),
         url('../font/droidserif-bolditalic-webfont.svg#droid_serifbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid_serifitalic';
    src: url('../font/droidserif-italic-webfont.eot');
    src: url('../font/droidserif-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/droidserif-italic-webfont.woff') format('woff'),
         url('../font/droidserif-italic-webfont.ttf') format('truetype'),
         url('../font/droidserif-italic-webfont.svg#droid_serifitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'elegantregular';
    src: url('../font/elegant-webfont.eot');
    src: url('../font/elegant-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/elegant-webfont.woff') format('woff'),
         url('../font/elegant-webfont.ttf') format('truetype'),
         url('../font/elegant-webfont.svg#elegantregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*=====END GLOBALE======*/

/*=====ID-uri======*/
#main { 	font-family: Arial, Helvetica, sans-serif; 	font-size: 12px; 	color: #333333; 	/*background: url(../images/body_bg.png) top center no-repeat;*/	background-color: #F5F5EF; overflow: hidden;}
#center-main {
	width: 1030px;
	margin: 0 auto;
	background: #fff;
	padding: 0px 50px;
	border: 1px solid #DCDCD7;
	margin-bottom: 6px;
}
#header_wrapper{ background: url(../images/bg_main_nav2.png) center 82px repeat-x; height:160px; position:relative; padding-bottom:6px; z-index:100;}
#header{ width:1030px; height:160px; margin:0 auto; position:relative;}
#logo{width:133px; height:159px; background: url(../images/logo.png) no-repeat; top:0; left:418px; float:left; position:absolute;}
#logo a {width:133px; height:159px; display: block; text-indent: -1000em; position: absolute; left: 0px; top: 0px;}
#content_wrapper{ width:1030px; margin:0 auto; position:relative; z-index:10; overflow:hidden;}
#carti-container { overflow: auto; border-bottom:1px solid #DCDCD7; margin-bottom:35px; }
#content{ float:left; overflow:hidden; margin-bottom:0px;}
#home_carti{ float:left; margin-top:34px;  padding-bottom:8px; margin-bottom: 20px; width: 515px; }
#home_carti.right { float: right; width: auto;  }
/* Navigation
---------------------------------------------------------- */
#nav{ list-style:none; float:left; margin-top:42px ; width:1030px; height:36px;  z-index:100px;}
#nav li{ float:left;  margin-right:75px; height:36px;}
#nav li.fourth{ margin-left:190px;}
#nav li.ultimul{ margin-right:0; }
#nav li a:link, #nav li a:visited{ color:#1a4a4a; float:left; display:inline-block; font-size:16px; line-height:16px; text-transform:uppercase; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; text-shadow :1px 1px #f5f5f5; -moz-text-shadow :1px 1px #f5f5f5; -webkit-text-shadow :1px 1px #f5f5f5; -o-text-shadow :1px 1px #f5f5f5; -khtml-text-shadow :1px 1px #f5f5f5;}
#nav li ul li { float:none; display:block; z-index:30000; }



/* ------- Left and Right ------- */
#left{ width:730px; float:left; margin-right:23px; *margin-bottom:40px;}
#right_wrapper{ width:277px; float:left; background:url(../images/sidebar_middle.png) left top repeat-y; position:relative; z-index:100; overflow:hidden; *padding:30px 0; margin-bottom:30px;}
#right_top{ background:url(../images/sidebar_top.jpg) left top no-repeat; width:277px; height:405px; position:absolute; z-index:1000; top:0;}
#right_top_large{ background:url(../images/sidebar_top_large.jpg) left top no-repeat; width:277px; height:592px; position:absolute; z-index:1000; top:0;}
#right_bottom{ background:url(../images/sidebar_bottom.jpg) left bottom no-repeat; width:277px; height:355px; position:absolute; z-index:1000; bottom:0;}
#right_bottom_large{ background:url(../images/sidebar_bottom_large.jpg) left bottom no-repeat; width:277px; height:511px; position:absolute; z-index:1000; bottom:0;}
#right{ width:240px; padding:0 18px 0 19px; float:left; position:relative; overflow:hidden; z-index:2000;}
#right h3{ font-size:16px; line-height:22px; color:#336666; text-transform:uppercase; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif;}
#right .sidebar_separator{ background:url(../images/sidebar_separator.png) bottom repeat-x; padding-bottom:30px; margin-bottom:30px; float:left;}
/* ------- Newsletter ------- */
#newsletter-form {width: 240px; position: relative; float:left; overflow:hidden; margin:0px 0 0 0; border: 1px solid #999;}
#newsletter-input { background-color: #fff; border:none; color: #999; height: 12px; width: 198px; padding: 4px 10px;float:left;font-size:12px;}
#newsletter-submit {background: #999 url(../images/newsletter_arrow.png) no-repeat 9px 6px; border:none; height: 20px; width: 22px; float:left;}
#newsletter-submit:hover {background-color: #666;}
/* ------- Footer ------- */
/*#footer_wrapper{ border-top:6px solid #b0c3c3;}*/
#footer_top{ width:1030px; margin:0 auto; padding-top:43px;}
#footer_top img.footer_logo{ float:left; margin-left:28px;}
#footer_bottom{ width:1030px; margin:0 auto; padding:10px 0 0 0; border-top:1px solid #ccc; clear:both; overflow:hidden;}
/*=====END ID-uri======*/

/*=====CLASE======*/
.clear{ clear:both;}
.left{ float:left; margin-right:17px;}
.right{ float:right;}
img.border_img{ border:1px solid #bfbfbf; background-color:#fff; padding:5px 5px;}
img.small_border_img{ border:1px solid #bdbdbd; background-color:#fff; padding:3px 3px;}
iframe.map{ margin:18px 0 50px 0;}
a.grey_link{ color:#333; margin-bottom:20px; display:block;}
/* ------- Breadcrumb ------- */
.breadcrumb{ width:1030px; margin:0 auto; padding-bottom:30px; font-family:'droid_sansregular', Arial, Helvetica, sans-serif; position:relative; z-index:10;}
.breadcrumb a{ color:#999; font-size:12px; line-height:21px; background:url(../images/breadarrow.png) right center no-repeat; padding-right:10px; margin-right:5px;}
.breadcrumb span.current_crumb{ color:#666666; font-size:12px; line-height:21px;}
/* ------- Universul Juridic Grup Drop-Down Section ------- */
.tni_menu {position:absolute; top:22px; left:0; margin:0; height: 30px; z-index:10000;}
.tni_menu ul {background-color:#f6f6ed;border:solid 1px #cccccc;box-shadow: -1px 1px 1px #ddd; top:22px; left:5px; position:absolute; z-index:10000; width: 244px; padding:4px 0; display:none; -moz-border-radius: 5px; border-radius: 5px;}
.tni_menu ul a{color:#669999}
.tni_menu ul a:hover{ color: #996633;}
.tni_menu ul li {padding:4px 16px}
.tni_menu:hover ul{display:block}
.tn1 { font-family:'droid_sansregular', Arial, Helvetica, sans-serif; font-size:14px; color:#999; padding:0 12px 0 0; float:left; cursor:pointer; height: 18px; background:url(../images/select_category_arrow.png) right center no-repeat; font-weight: bold;}
/* ------- Header Top Icons Section Section ------- */
.top_icons{ list-style:none; float:right; height:28px; position:relative; margin:20px 35px 0 0;}
.top_icons li{ float:left; height:17px; line-height:17px; background: url(../images/header_icons_separators.png) right 2px no-repeat; padding:0 10px 0 10px;}
.top_icons li a{ float:left; display:inline-block;}
.top_icons li.last{ background:none; padding-right:0;}
.search_wrapper { position: absolute; right:10px; top:20px; float:right; z-index:500;}
.trigger{ position: relative;}
.popup{ position: absolute; display: block; z-index: 5000; width:245px; height:38px; background:url(../images/search_bg2.png) no-repeat; margin-left: -220px; margin-top: -5px; }
#cautare-form {width: 230px; position: relative; float:left; overflow:hidden; margin:11px 0 0 6px; border: 1px solid #999;}
#cautare-input { background-color: #fff; border:none; color: #999; height: 12px; width: 188px; padding: 4px 10px; float:left; font-size:12px;}
#cautare-submit {background: #999 url(../images/newsletter_arrow.png) no-repeat 9px 5px; border:none; height: 20px; width: 22px; float:left;}
#cautare-submit:hover {background-color: #666;}
/* ------- Sidebar ------- */
.catalog {
	margin-top: 10px;
	padding-bottom: 60px;
	height: 140px;
}
.catalog img{ float:left; margin:0; margin-top: 15px;}
.catalog p{ float:left; width:120px; padding-left:15px; font-family:'droid_serifregular', Arial, Helvetica, sans-serif; font-size:13px; color:#666666; margin-top:10px;}
.catalog a.read_more_catalog{ float:left; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#cc6600; text-transform:uppercase; font-size:14px; margin:0; margin-left: 15px;}
.catalog a.read_more_catalog span{ color:#000; font-family: "Comic Sans MS", cursive; font-size:13px;}
.newsletter p{ float:left; font-family:'droid_serifregular', Arial, Helvetica, sans-serif; font-size:14px; color:#666666; margin:4px 0 18px 0;}
ul.sidebar_menu{ list-style:none; margin:15px 0 30px 0; float:left;}
ul.sidebar_menu li{ width:240px; display:block;}
ul.sidebar_menu li a{color:#000; font-style:normal; font-size:12px; line-height:20px; font-family:'droid_sansregular', Arial, Helvetica, sans-serif;}
ul.sidebar_menu li a:hover, ul.sidebar_menu li a.selected{ text-decoration:none; color: #996633; line-height:20px;}
ul.sidebar_menu li ul li{ width:230px; padding-left:10px;}
/* ------- Home Page ------- */

ul.lista_carti_homepage{ list-style-type:none; margin:3px 0 0 0; float:left;}
ul.lista_carti_homepage li{float:left; text-decoration:none; margin:0 50px 0 5px;}
ul.lista_carti_homepage li.last{ margin-right:0;}
#selectat { text-decoration:none; color: #996633; line-height:20px; }
.left_box_editorial{ float:left; border-bottom:1px dotted #ccc; margin-bottom:35px; padding-bottom:45px;}
.left_box_editorial a.editorial_homepage{ float:left; color:#333; font-family:'droid_serifitalic', Arial, Helvetica, sans-serif; font-size:16px; margin:0px 0 30px 35px; width:530px;}
.left_box_editorial p.autor_editorial{ float:left; height:28px; font-size:32px; line-height:34px; color:#262626; font-family: 'elegantregular', Arial, Helvetica, sans-serif; margin-left:35px; font-weight: bold;}
.left_box_editorial p.autor_editorial span{ font-size:12px; line-height:12px; color:#666; font-family: 'droid_sansregular', Arial, Helvetica, sans-serif;}
.left_home_4col_wrapper{ width:730px; float:left; border-bottom:1px dotted #ccc; margin-bottom:32px; *padding-bottom:30px;}
.left_home_4col{ width:325px; float:left; margin-right:80px; margin-bottom:45px; position: relative; }
.left_home_4col.last_box{ margin-right:0;}
.left_home_4col h5 a{ color:#000; font-family:'droid_serifitalic', Arial, Helvetica, sans-serif; font-size:16px; float:left; width:203px;}
.left_home_4col p.home_4col_details, .left_home_4col a.home_4col_details{ color:#333; font-family:'droid_sansregular', Arial, Helvetica, sans-serif; font-size:11px; line-height:14px; float:left; width:203px; margin-bottom:10px;}
a.read_more{ background: url(../images/read_more_bg.png) no-repeat; width:82px; height:24px; text-align:center; float:left; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#cc6600; text-transform:uppercase; font-size:14px;}
a.read_more span{ color:#000; font-family: "Comic Sans MS", cursive; font-size:16px;}

a.read_more_home{ background: url(../images/read_more_bg.png) no-repeat; width:82px; height:24px; text-align:center; float:left; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#cc6600; text-transform:uppercase; font-size:14px; position:absolute; top:112px; left: 117px; z-index:20; }
a.read_more_home span{ color:#000; font-family: "Comic Sans MS", cursive; font-size:16px;}

a.interviu_logo_homepage{ float:left; margin:0 0 45px 18px;}
/* ------- Detail Page ------- */
.detail_page_box{ width:710px; float:left; margin:20px 0 20px 0;}
h5.detail_page{ font-size:12px; line-height:18px; color:#996633; width:710px; font-family: 'droid_serifbold_italic', Arial, Helvetica, sans-serif;}
/* ------- Evenimente Page ------- */
.evenimente_box{ width:710px; float:left; margin:10px 0 40px 0;}
.evenimente_box.last{ margin-bottom:20px;}
.evenimente_box h2{ margin-bottom:10px;}
.evenimente_box a{ color:#333; font-size:14px;}
.evenimente_box h2 a{ font-size:18px; line-height:22px; color:#333; font-family: 'droid_serifbold', Arial, Helvetica, sans-serif;}
span.date_accesari{ margin-bottom:15px; /*float:left;*/ width:480px;}
span.date_accesari a{ font-size:12px; color:#996633; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif;}
/* ------- Listing1 Page ------- */
ul.colectia_item_wrapper{ list-style:none;}
li.separator_listing{ background:url(../images/separator_listing.png) no-repeat; float:left; width:730px; height:12px; margin-bottom:43px;}
li.colectia_item{ float:left; margin:0 90px 28px 0; width:115px; height:225px;}
li.colectia_item.last{ margin-right:0;}
li.colectia_item a img{ margin-bottom:4px;}
li.colectia_item a.colectia_item_title{ font-size:12px; color:#996633; display:block; margin-bottom:5px; font-family: 'droid_sansregular', Arial, Helvetica, sans-serif;}
li.colectia_item a.colectia_item_description{ font-size:14px; line-height:14px; color:#333; font-family: 'droid_serifbold', Arial, Helvetica, sans-serif;}
/* ------- Product Page ------- */
.product_wrapper{ width:940px; padding:0 45px 30px 45px; margin-bottom:30px; border-bottom:1px dotted #ccc; overflow:hidden;}
.product_left{ width:266px; float:left; overflow:hidden; margin-right:49px;}
.detalii_carte{ width:200px; margin:40px 0 20px 56px;}
.detalii_carte ul.rasfoieste_cuprins{ width:200px; margin-bottom:10px; float:left; clear:both;}
.detalii_carte ul.rasfoieste_cuprins li{ float:left; margin-right:7px; padding-right:7px; border-right:1px solid #cc6600; display:block; height:12px; line-height:12px;}
.detalii_carte ul.rasfoieste_cuprins li.last{ border:none;}
.detalii_carte ul.rasfoieste_cuprins li a{ float:left; display:block; font-size:11px; color:#cc6600; height:12px; line-height:12px; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif; margin-bottom:12px;}
.detalii_carte p{ font-size:11px; line-height:18px; color:#333; margin:0; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif;}
.detalii_carte p span{ color:#000;}
.detalii_carte span.green{ color:#006600;}
.product_right{ width:625px; float:left; overflow:hidden;}
.product_right h1.product_title a{ font-size:22px; line-height:24px; color:#336666; display:block; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif; margin-bottom:20px;}
.product_right h1.product_title.no_margin a{ font-size:22px; line-height:24px; color:#336666; display:block; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif; margin-bottom:10px;}
.product_right h1.product_title a span{ font-size:16px; color:#996633;}
p.functie_revista{ font-size:11px; color:#333; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif; width:188px;}
p.functie_revista span.functie_name{ font-size:14px; color:#996633; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif; float:right;}
.product_share{ width:625px;}
.product_share a.trimite_button{ font-size:12px; color:#333; background:url(../images/trimite_button.png) no-repeat; width:123px; height:24px; line-height:24px; text-align:center; float:left;}
.fb_share{ width:450px; float:left; border-left:1px solid #777; padding-left:16px; margin-left:16px; height:23px; line-height:23px;}
.fb_share a{ float:left; margin-right:8px;}
.product_cumpara{ width:625px; border-top:1px dotted #777; border-bottom:1px dotted #777; height:37px; line-height:37px; padding:5px 0; margin:25px 0 30px 0;}
.product_cumpara p.price{ font-size:24px; line-height:37px; color:#333; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif; float:left;}
.product_cumpara p.price span{ font-size:14px; line-height:37px; color:#333; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif;}
.product_cumpara a.cumpara_button{ font-size:14px; color:#fff; text-transform:uppercase; background: url(../images/cumpara_button.png) no-repeat; width:231px; height:37px; line-height:37px; text-align:center; float:left; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif; margin-left:15px;}
ul.product_item_wrapper{ list-style:none;}
li.product_item{ float:left; margin:8px 70px 0 30px; width:115px; height:285px;}
li.product_item.last{ margin-right:0;}
li.product_item a img{ margin-bottom:2px;}
li.product_item a.colectia_item_title{ font-size:12px; line-height:18px; color:#996633; display:block; margin-bottom:1px; font-family: 'droid_sansregular', Arial, Helvetica, sans-serif;}
li.product_item a.colectia_item_description{ font-size:14px; line-height:14px; color:#333; font-family: 'droid_serifbold', Arial, Helvetica, sans-serif;}
.product_page_wrapper{ width:970px; padding:5px 30px 30px 30px; margin-bottom:40px; overflow:hidden;}
.product_page_wrapper h3 a{ color:#996633; font-size:16px; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif; width:800px; float:left; margin-bottom:30px;}
/* ------- Stuff Page ------- */
.stuff_wrapper{ float:left; margin-top:10px;}
.stuff_box{ width:730px; padding: 0; margin-top:45px; overflow:hidden;}
.stuff_wrapper h3 a{ color:#333; font-size:18px; font-family: 'droid_serifbold', Arial, Helvetica, sans-serif; width:560px; float:left; margin-bottom:25px;}
/* ------- Product-Revista Page ------- */
.product_revista_one_half{ width:450px; float:left; margin-right:70px;}
.product_revista_one_half.last{ margin-right:0;}
.product_revista_one_half h3 a{ color:#996633; font-size:16px; line-height:18px; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif; width:285px; float:left; margin-bottom:5px;}
.product_revista_one_half h3 a span.functie{ color:#333; font-size:11px;}
.abonamente_anuare_wrapper{ width:970px; padding:0 30px 40px 30px; border-bottom:1px dotted #ccc; margin-bottom:40px; overflow:hidden;}
.product_revista_one_half h4 a{ color:#333; font-size:16px; line-height:18px; font-family: 'droid_sansregular', Arial, Helvetica, sans-serif; width:285px; float:left; margin-top:5px;}
.pret_abonare{ width:270px; float:left; margin-top:30px;}
.pret_abonare a.abonamente_pret{ font-size:24px; line-height:37px; color:#333; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif; float:left;}
.pret_abonare a.abonamente_pret span{ font-size:14px; line-height:37px; color:#333; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif;}
.pret_abonare a.abonamente_abonare{ font-size:14px; color:#fff; text-transform:uppercase; background: url(../images/abonare_button.png) no-repeat; width:134px; height:37px; line-height:37px; text-align:center; float:right; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif; margin-left:15px;}
/* Accordion
---------------------------------------------------------- */
.ui-accordion .ui-accordion-header { display: block; cursor: pointer; position: relative; margin: 5px 0; padding-bottom: 0; color:#333; font-size:16px; line-height:28px; font-family: 'droid_sansregular', Arial, Helvetica, sans-serif;}
#accordion p.accordeon_details { padding:0 130px 0 35px; font-family: 'droid_sansregular', Arial, Helvetica, sans-serif; color:#d17519; margin-bottom:5px; }
p.accordeon_details span.toogle_format{ width:110px; float:left;}
p.accordeon_details span.toogle_price{ width:70px; float:left;}
p.accordeon_details a.toogle_buy{ color:#d17519; background:url(../images/toogle_arrow_orange.png) right center no-repeat; padding-right:10px; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif; font-size:11px;}
p.accordeon_details a.toogle_buy:hover{ color:#417070; background:url(../images/toogle_arrow_black.png) right center no-repeat; padding-right:10px;}
/* ------- Autori-Listing Page ------- */
ul.letters{ background:url(../images/letters_bg.png) no-repeat; width:1021px; height:38px; line-height:38px; float:left; margin:5px 0 10px 0; border:none; list-style-type:none;}
ul.letters li span{display: inline; float:left; font-size:12px; line-height:38px; color:#666666; padding:0 15px 0 20px;}
ul.letters li{float:left; text-decoration:none;}
ul.letters li a{display: inline; float:left; font-size:12px; line-height:38px; color:#666666; width:14px; padding:0 11px; text-transform:uppercase;}
ul.letters li a.selected, ul.letters li a:hover{ text-decoration:underline; color:#996633; font-weight:bold; font-size:14px;}
ul.autori_list{ list-style:none; width:200px; padding:0 20px 20px 20px; margin:20px 14px 50px 0; display:block; float:left; border-right:1px solid #efefef;}
ul.autori_list.last{ border:none;}
ul.autori_list li{ width:200px;}
ul.autori_list li a{color:#333; font-style:normal; font-size:14px; line-height:30px; font-family:'droid_sansregular', Arial, Helvetica, sans-serif;}
ul.autori_list li a:hover, ul.autori_list li a.selected{ text-decoration:none; color: #996633;}
.pagination_autori{ background:url(../images/letters_bg.png) no-repeat; width:890px; padding-left:331px; padding-top:9px; float:left; height:29px; margin-bottom:50px;}
.pagination_autori span.inactive a{color: #666666; text-decoration: none; margin:0 1px; font-size:12px; width:15px; height:16px; line-height:16px; float:left; text-align:center;}
.pagination_autori span.active a{ color:#996633; text-decoration: underline; margin:0 1px; font-size:14px; font-weight:bold; width:15px; height:16px; line-height:16px; float:left; text-align:center;}
.pagination_autori span.inactive_arrow a{ width:96px; color: #666666;}
.pagination_autori span.pagination_arrow{ font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; height:16px; line-height:16px; float:left; text-align:center; margin:0 2px 0 6px;}

.pagination_autori span.inactive_arrow a{ width:17px; color: #666666;}  
.pagination_autori span.pagination_arrow{ font-family: Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; height:16px; line-height:16px; text-align:center; margin:0 1px;}

.pagination span.big_no{  width:30px!important; float:left; text-align:center;}
/* ------- Pagination ------- */
.pagination_wrapper{ width:690px; padding:0 20px; height:34px; background-color:#eee; margin:10px 0 40px 0; float:left;}
form.rezultate_form{ float:right; margin:8px 0 0 0;}
form.rezultate_form select.clasa_select{ width:123px; height:20px; float:left; margin-right:8px; color:#666666; font-size:12px;}
.afiseaza_pagination{ float:left; margin-top:10px;}
.afiseaza_pagination span{ color:#999; font-size:12px;}
.afiseaza_pagination span.afiseaza_bold{ font-weight:bold; color:#666;}
.pagination{width:520px; padding-left:210px; padding-top:9px; float:left; height:25px; background-color:#eee; margin-bottom:50px;}
.pagination span.inactive a{color: #666666; text-decoration: none; margin:0 1px; font-size:11px; font-weight:bold; width:12px; height:16px; line-height:16px;  text-align:center;}
.pagination span.active a{ color:#07a2ca; text-decoration: underline; margin:0 1px; font-size:14px; font-weight:bold; width:12px; height:16px; line-height:16px;  text-align:center;}
.activpag { color:#07a2ca; text-decoration: underline; margin:0 1px; font-size:14px; font-weight:bold; width:12px; height:16px; line-height:16px; float:left; text-align:center;  }
.inactivpag { color: #666666; text-decoration: none; margin:0 1px; font-size:11px; font-weight:bold; width:12px; height:16px; line-height:16px; float:left; text-align:center; }
.pagination span.inactive_arrow a{ width:96px; color: #666666;}
.pagination span.pagination_arrow{ font-family: Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; height:16px; line-height:16px; text-align:center; margin:0 1px;}
.pagination span.big_no{  width:22px!important; float:left; text-align:center;}
/* ------- Contact Page ------- */
.contact_left{ float:left; width:608px; margin-right:15px; margin-bottom:30px;}
.contact_right{ float:left; width:403px; margin-bottom:30px;}
.contact_left_half{ float:left; width:300px;}
.contact_left h2, .contact_right h3{ font-size:16px; color:#996633; font-family: 'droid_sansbold', Arial, Helvetica, sans-serif; margin-bottom:10px;}
.contact_right h3{ margin:0 0 20px 152px;}
.contact_left h2.contact_adresa{ background:url(../images/contact_adresa.png) left top no-repeat; height:27px; line-height:27px; padding-left:30px;}
.contact_left h2.contact_transport{ background: url(../images/contact_transport.png) left top no-repeat; height:27px; line-height:27px; padding-left:30px;}
.contact_left h2.contact_redactie{ background: url(../images/contact_redactie.png) left top no-repeat; height:27px; line-height:27px; padding-left:30px;}
.contact_left h2.contact_no_img{ padding-left:30px; height:27px; line-height:27px;}
.contact_left p{ font-size:14px; line-height:24px; color:#272727; padding-left:30px; font-family: 'droid_sansregular', Arial, Helvetica, sans-serif;}
.form_left{ float:left; overflow:hidden; width:110px; padding-right:10px; text-align:right;}
label.contact_label{ width:110px!important; height:36px; line-height:36px; margin-bottom:4px; color:#999; font-size:12px; float:left; border:1px solid #fff; text-align:right;}
label.contact_label_textarea{ width:110px!important; height:36px; line-height:36px; margin-bottom:104px; color:#999; font-size:12px; float:left; border:1px solid #fff; text-align:right;}
.form_right{ float:right; width:283px;}
input.contact_input{ width:263px; height:24px; padding:6px 10px; background:url(../images/contact_input.png) no-repeat; margin-bottom:6px; *margin-bottom:4px; font-size:12px; color:#000; float:left; border:none;}
textarea.contact_textarea{ width:262px; height:116px; padding:10px 10px; background:url(../images/contact_textarea.png) no-repeat; margin-bottom:6px; *margin-bottom:4px; float:left; border:none;}
input.contact_submit{ background: url(../images/contact_submit.png) no-repeat; width:104px; height:30px; color:#333; font-size:12px; text-transform:uppercase; border:none; float:left; margin-left:130px; margin-top:15px;}
/* ------- Footer ------- */
ul.footer_nav{ list-style-type:none; margin:22px 0 0 75px; float:left;}
ul.footer_nav li{float:left; text-decoration:none;}
ul.footer_nav li a{display: inline; float:left; font-size:14px; line-height:14px; color:#262626; padding:0 20px; border-right:1px solid #262626; font-family: 'droid_sansregular', Arial, Helvetica, sans-serif;}
ul.footer_nav li a.first{ padding:0 20px 0 0;}
ul.footer_nav li a.last{ border:none;}
ul.footer_nav li a:hover, ul.footer_nav li a.selected{ text-decoration:underline;}
ul.footer_media{ list-style-type:none; margin:18px 0 0 75px; float:left; width:800px; padding-top:18px; border-top:1px solid #ccc;}
ul.footer_media li{ float:left; text-decoration:none; margin-right:80px;}
ul.footer_media li.last{ margin-right:0;}
ul.footer_media li a.facebook{ background:url(../images/facebook.png) no-repeat; float:left; width:117px; height:33px;}
ul.footer_media li a.facebook:hover{ background:url(../images/facebook_hover.png) no-repeat; width:117px; height:33px;}
ul.footer_media li a.twitter{ background:url(../images/twiter1.png) no-repeat; float:left; width:144px; height:33px;}
ul.footer_media li a.twitter:hover{ background:url(../images/twitter_hover.png) no-repeat; width:144px; height:33px;}
ul.footer_media li a.youtube{ background:url(../images/youtube.png) no-repeat; float:left; width:78px; height:33px;}
ul.footer_media li a.youtube:hover{ background:url(../images/youtube_hover.png) no-repeat;}
ul.footer_media li a.pinterest{ background:url(../images/pinterest.png) no-repeat; float:left; width:101px; height:33px;}
ul.footer_media li a.pinterest:hover{ background:url(../images/pinterest_hover.png) no-repeat;}
ul.footer_media li a.google_places{ background:url(../images/google_places.png) no-repeat; float:left; width:178px; height:33px;}
ul.footer_media li a.google_places:hover{ background:url(../images/google_places_hover.png) no-repeat;}
.footer_partners{ width:1030px; float:left; margin-top:45px; margin-bottom:50px; padding-top:5px; border-top:1px solid #ccc;}
.footer_partners h6{ font-family: 'droid_sansbold', Arial, Helvetica, sans-serif; font-size:16px; line-height:40px; color:#666;}
ul.copyright{ list-style-type:none; float:left; margin-bottom:20px;}
ul.copyright li{display: inline; float:left; font-size:11px; line-height:12px; padding:0 10px; color:#1f1f1f; border-left:1px solid #262626; font-family: 'droid_sansregular', Arial, Helvetica, sans-serif;}
ul.copyright li.first{ border:none; padding:0 10px 0 0;}
ul.copyright li a{ border:none; font-size:11px; line-height:12px; color:#1f1f1f;}
/*=====END CLASE======*/

/*=== Custom Slider Styles ===*/
#slider_wrapper {width:1020px;height:325px; background:url(../images/slider_bg.png) no-repeat; margin-bottom:15px; padding:5px 5px;}
#slider {position:relative;width:1030px;height:335px;}
#slider img {position:absolute;top:0px;left:100px;display:none;}
#slider a {border:0;display:block;}
.nivo-controlNav {position:absolute; right:5px; bottom:3px;}
.nivo-controlNav a {display:block; width:12px; height:12px; padding:5px 0 0 5px; background: url(../images/bullet_inactive_slider.png) no-repeat; border:0; float:left; font-size:14px; color:#333;position:relative;z-index:9;cursor:pointer; text-indent:-9999em;}
.nivo-controlNav a.active { background: url(../images/bullet_active_slider.png) no-repeat; width:12px; height:12px; padding:5px 0 0 5px;}
.nivo-directionNav a {display:block; width:19px; height:23px; text-indent:-9999px;border:0;position:absolute; top:156px;z-index:9;cursor:pointer; border:1px solid red;}
a.nivo-nextNav {right:40px; background: url(../images/slider_right_arrow.png) no-repeat; width:19px; height:23px;}
a.nivo-prevNav {left:40px; background: url(../images/slider_left_arrow.png) no-repeat; width:19px; height:23px;}
/* The Nivo Slider styles */
.nivoSlider {position:relative; background-position: 700px 70px;}
.nivoSlider img {position:absolute;top:0px;left:100px;}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {position:absolute; top:0px; left:0px; width:100% ;height:100%; border:0; padding:0; margin:0; z-index:6; display:none;}
/* The slices and boxes in the Slider */
.nivo-slice {display:block;position:absolute;z-index:5;height:100%;}
.nivo-box {display:block;position:absolute;z-index:5;}
/* Caption styles */
.nivo-caption { overflow:hidden; padding-top: 50px; color:#fff; background:url(../images/nivo_caption_bg.png) repeat-y;
width:390px; padding-left:15px; z-index:800; height:285px;}
.nivo-html-caption {display:none;}
#content_wrapper .nivo-caption h3{ font-size:15px; line-height:28px; color:#996633; text-decoration:none; text-transform:uppercase; float:left; overflow:hidden; clear:both; font-family:'droid_sansregular', Arial, Helvetica, sans-serif;}
#content_wrapper .nivo-caption h4{ font-size:28px; line-height:32px; color:#006633; margin:7px 0 10px 0; float:left; overflow:hidden; clear:both; font-family:'droid_serifitalic', Arial, Helvetica, sans-serif; width:390px;}
#content_wrapper .nivo-caption p.slider_price{ width:390px;}
#content_wrapper .nivo-caption p.slider_price span.old_price{ font-size:16px; color:#666; margin-right: 15px ; float:left; overflow:hidden; clear:right; font-family:'droid_sansregular', Arial, Helvetica, sans-serif; text-decoration:line-through;}
#content_wrapper .nivo-caption p.slider_price span.new_price{ font-size:16px; color:#000; margin:0; float:left; overflow:hidden; clear:right; font-family:'droid_sansbold', Arial, Helvetica, sans-serif; text-decoration: none;}
a.slider_info{ font-size:16px; color:#fff; text-decoration:none; text-transform:uppercase; margin-top: 68px; float:left; overflow:hidden; clear: both; font-family:'droid_sansregular', Arial, Helvetica, sans-serif; background:url(../images/slider_button.png) no-repeat; width:114px; height:41px; line-height:41px; text-align:center;}
   
.qtip_box { 
	display:none; 
	background-color:#ffcc66; 
	padding:10px; 
	color:#000000;
	width:180px !important; 
}

#pozitie {
	position:absolute;
	top:150px;
	left:0;
	
	
}
.qtipData .title {
	display: block;
	font-weight: normal;
	font-size: 15px;
	margin-bottom: 5px;
	color: #000;
	font-family: Brawler, Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	margin-bottom:10px;
}

.qtipData .autor a{
	margin-bottom: 10px;
	color:#000000;
	font-wight:bold;
}

.qtipData .autor {
	margin-bottom:10px;
}

.qtipData .pret {
color: #000;
font-size: 14px;
font-weight: bold;
}

.qtipData .add {
	display: block;
	width: 110px;
	background: #cc6600 !important;
	font-size: 12px;
	margin: 0px;
	margin-top: 9px;
	height: 24px;
	padding: 0px;
	line-height: 24px;
	margin-bottom: 5px;
	border: 0px;
	font-style: italic;
	text-transform: uppercase;
	font-weight: normal;
	margin-left:1px;
	text-align:center;
}
.parteneri_box {
	float:left;
	margin:0 0 7px 21px
}


#errors-box {
	margin-left:122px;
}

#errors-box span {
	color:#ff0000;
	
}




#dd_menu {
	padding-top:42px;
}

#dd_menu ul {
	display: none;
	position: absolute;
	background-color: #f6f6ed;
	padding: 0;
	list-style: none;
	min-width: 140px;
	margin-top:28px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	
}

#dd_menu ul li {
	background-color: #f6f6ed;
}

#dd_menu ul li#colectie  {
	background-color: #f6f6ed;
	float:left !important;
	width:290px !important;
}

#dd_menu ul li#colectie:hover  {
	background-color: #ac9176;
}

#dd_menu ul li#revista  {
	background-color: #f6f6ed;
	float:left !important;
	width:290px !important;
}

#dd_menu ul li#revista:hover  {
	background-color: #ac9176;
}


#dd_menu ul li:hover {
	background-color: #ac9176;
	
}

#dd_menu > li {
	float: left;
	height: 30px;
	line-height: 30px;
	margin-right:11px;
	
	
	
}

#dd_menu li a {
	width: 134px;
	display: block;
	
}

#dd_menu li.fourth{ margin-left:182px; line-height:18px; margin-right:31px;}
#dd_menu li.last{ margin-right:0; line-height:18px; width:80px;}

#dd_menu ul li ul {
	left: 140px;
	margin-top: -23px;
	border-top-width: 1px;
	width: 140px;
	padding: 0;
	position:absolute;
	z-index:300 !important;
	font-size:12px;
	
}

.link  { color:#1a4a4a; float:left; display:inline-block; font-size:16px; line-height:16px; text-transform:uppercase; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; text-shadow :1px 1px #f5f5f5; -moz-text-shadow :1px 1px #f5f5f5; -webkit-text-shadow :1px 1px #f5f5f5; -o-text-shadow :1px 1px #f5f5f5; -khtml-text-shadow :1px 1px #f5f5f5;}

.link a:visited { color:#1a4a4a; float:left; display:inline-block; font-size:16px; line-height:16px; text-transform:uppercase; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; text-shadow :1px 1px #f5f5f5; -moz-text-shadow :1px 1px #f5f5f5; -webkit-text-shadow :1px 1px #f5f5f5; -o-text-shadow :1px 1px #f5f5f5; -khtml-text-shadow :1px 1px #f5f5f5;}

.link a { color:#1a4a4a; float:left; display:inline-block; font-size:16px; line-height:16px; text-transform:uppercase; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; text-shadow :1px 1px #f5f5f5; -moz-text-shadow :1px 1px #f5f5f5; -webkit-text-shadow :1px 1px #f5f5f5; -o-text-shadow :1px 1px #f5f5f5; -khtml-text-shadow :1px 1px #f5f5f5;}

.link a:visited { color:#1a4a4a; float:left; display:inline-block; font-size:16px; line-height:16px; text-transform:uppercase; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; text-shadow :1px 1px #f5f5f5; -moz-text-shadow :1px 1px #f5f5f5; -webkit-text-shadow :1px 1px #f5f5f5; -o-text-shadow :1px 1px #f5f5f5; -khtml-text-shadow :1px 1px #f5f5f5;}

.link2 a { 
 color:#336666; margin-left:10px; font-size:14px; line-height:23px;  font-family: "Myriad Pro", "Lucida Grande", sans-serif;
 width:auto !important;  
}
.link2 a:hover{ 
 color:#ffffff; margin-left:10px; font-size:14px; line-height:23px;  font-family: "Myriad Pro", "Lucida Grande", sans-serif; 
}


.parteneri_box{
	float:left;width:184px;
}
.parteneri_box img{
	max-width: 180px !important;
}


.parteneri_box a{
	display:block;height:70px;line-height:70px;vertical-align:middle;text-align:center;
}

.partenri_box#last{
	margin-bottom:20px;
}

.popup-box {
	display: none;
    padding: 10px 10px 10px;
    background: #fff;
    z-index: 999;
    position: absolute;
    top:  100px;
    right: 35%;
    border: 2px solid #ddd;
}
.popup-box label {
	width: 130px;
	float: left;
	text-align: right;
	margin-right: 10px;

}
.popup-box input[type="submit"] {
	margin-left: 200px;
}
.popup-box .close {
	float: right;
	font-weight: bold;
	clear: both;
}
.popup-box .title {
	color: #336666;
	font-weight: bold;
	text-align: center;
	clear: both;
	font-size: 18px;
	margin: 7px 0px;
}

.popup-box h1 {
	color: red;
	width:300px;
	font-weight: bold;
	text-align: center;
	clear: both;
	font-size: 18px;
	margin: 7px 0px;
}

#liquid-slider .panel-wrapper {
	padding: 0;
}

#liquid-slider-wrapper .ls-nav-left-arrow, #liquid-slider-wrapper .ls-nav-right-arrow {
	margin-top: 250px !important;
}