/* CSS Document */

/*=====GLOBALE======*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
address,caption,cite,code,dfn,h1,h2,h3, h4,h5,h6,th,var { font-style: normal; font-weight: normal;}
caption,th { text-align: left; }
q:before,q:after { content: ''; }
a { text-decoration: none; color:#333; font-size:12px; line-height:18px;}
a.detalii{ font-size:12px; color:#fff; text-transform:uppercase; text-align:center; width:97px; height:27px; line-height:27px; background:url(../images/detalii_bg.png) no-repeat; float:left;}
p{ font-size: 12px; line-height:18px; color: #333333; margin-bottom:19px;}
h1, h2, h3, h4, h5, h6 { color:#333;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color:#333;}
h1.page_title{ font-size:18px; color:#07a2ca; text-transform:uppercase; font-family: MyriadProBold, Arial, Helvetica, sans-serif; margin-bottom:10px;}
ol, ul {list-style: none;}
blockquote, q { quotes: none;}
:focus { outline: 0;}
ins { text-decoration: none;}
del { text-decoration: line-through;}
table { border-collapse: collapse; border-spacing: 0;}
/* float clearing for IE6 */
* html .clearfix{ height: 1%; overflow: visible;}
/* float clearing for IE7 */
*+html .clearfix{ min-height: 1%;}
/* float clearing for everyone else */
.clearfix:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;}
.bold { font-weight: bold;}
.italic { font-style: italic;}
.clearBoth { clear: both; display: block; font-size: 0; height: 0; line-height: 0; overflow: hidden; width: 100%; vertical-align: super;}
.hidden { display: none;}
div::selection, span::selection, p::selection, li::selection, dd::selection, dt::selection, fieldset::selection, label::selection, input::selection, textarea::selection, table::selection, tr::selection, td::selection, iframe::selection, b::selection, i::selection, blockquote::selection, pre::selection, code::selection, strong::selection, em::selection, u::selection, sub::selection, sup::selection,  legend::selection, a::selection {
        background: #072945;
		color: #ffffff;
}
div::-moz-selection, span::-moz-selection, p::-moz-selection, li::-moz-selection, dd::-moz-selection, dt::-moz-selection, fieldset::-moz-selection, label::-moz-selection, input::-moz-selection, textarea::-moz-selection, table::-moz-selection, tr::-moz-selection, td::-moz-selection, iframe::-moz-selection, b::-moz-selection, i::-moz-selection, blockquote::-moz-selection, pre::-moz-selection, code::-moz-selection, strong::-moz-selection, em::-moz-selection, u::-moz-selection, sub::-moz-selection, sup::-moz-selection,  legend::-moz-selection, a::-moz-selection  {
        background: #072945;
		color: #ffffff;
}

/* @font-face
---------------------------------------------------------- */
@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'MyriadPro-Regular';
    src: url('../font/myriadpro-regular.eot');
}
@font-face {
    /* This declaration targets everything else */
    font-family: 'MyriadPro-Regular';
    src: url(//:) format('no404'), url('../font/myriadpro-regular.woff') format('woff'), url('../font/myriadpro-regular.ttf') format('truetype'), url('../font/myriadpro-regular.svgz#MyriadPro-Regular') format('svg'), url('../font/myriadpro-regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'MyriadProBold';
    src: url('../font/myriadpro-bold-webfont.eot');
}
@font-face {
    /* This declaration targets everything else */
    font-family: 'MyriadProBold';
    src: url(//:) format('no404'), url('../font/myriadpro-bold-webfont.woff') format('woff'), url('../font/myriadpro-bold-webfont.ttf') format('truetype'), url('../font/myriadpro-bold-webfont.svgz#MyriadProBold') format('svg'), url('../font/myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'MyriadProSemibold';
    src: url('../font/myriadpro-semibold-webfont.eot');
}
@font-face {
    /* This declaration targets everything else */
    font-family: 'MyriadProSemibold';
    src: url(//:) format('no404'), url('../font/myriadpro-semibold-webfont.woff') format('woff'), url('../font/myriadpro-semibold-webfont.ttf') format('truetype'), url('../font/myriadpro-semibold-webfont.svgz#MyriadProSemibold') format('svg'), url('../font/myriadpro-semibold-webfont.svg#MyriadProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'NewsGothBdXCnBTBold';
    src: url('../font/newgtbxc-webfont.eot');
}
@font-face {
    /* This declaration targets everything else */
    font-family: 'NewsGothBdXCnBTBold';
    src: url(//:) format('no404'), url('../font/newgtbxc-webfont.woff') format('woff'), url('../font/newgtbxc-webfont.ttf') format('truetype'), url('../font/newgtbxc-webfont.svgz#NewsGothBdXCnBTBold') format('svg'), url('../font/newgtbxc-webfont.svg#NewsGothBdXCnBTBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'SFAtarianSystemBold';
    src: url('../font/sf_atarian_system_bold-webfont.eot');
}
@font-face {
    /* This declaration targets everything else */
    font-family: 'SFAtarianSystemBold';
    src: url(//:) format('no404'), url('../font/sf_atarian_system_bold-webfont.woff') format('woff'), url('../font/sf_atarian_system_bold-webfont.ttf') format('truetype'), url('../font/sf_atarian_system_bold-webfont.svgz#SFAtarianSystemBold') format('svg'), url('../font/sf_atarian_system_bold-webfont.svg#SFAtarianSystemBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*=====END GLOBALE======*/

/*=====ID-uri======*/
body { background: url(../images/html_bg.png) top center repeat-y;}
#main { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; background: url(../images/body_bg.png) top center no-repeat;}
#header_wrapper{ background:url(../images/header_bg.png) repeat-x; height:123px; position:relative;}
#header{ width:940px; margin:0 auto; position:relative; overflow:hidden;}
#logo{width:191px;height:72px; background: url(../images/logo.png) no-repeat;position:relative; margin:25px 0 2px 0; float:left;}
#logo a {width:191px;height:72px; display: block; text-indent: -1000em; position: absolute; left: 0px; top: 0px;}
#nav{ float:right; height:31px; position:relative; margin-top:19px; clear:right;}
#nav li{ list-style:none; float:left; height:31px; background:url(../images/menu_bullet.png) right 12px no-repeat; padding:0 27px 0 14px;}
#nav li a{ float:left; overflow:hidden; display:block; height:31px; line-height:31px; padding-left:10px;}
#nav li a span{ color:#fff; float:left; overflow:hidden; display:block; font-size:20px; height:31px; line-height:31px; font-family: MyriadPro-Regular, Arial, Helvetica, sans-serif; padding-right:10px;}
#nav li a:hover, #nav li a.selected{ float:left; overflow:hidden; display:block; background:url(../images/menu_bg.png) no-repeat bottom left; padding-left:10px;}
#nav li a:hover span, #nav li a.selected span{ background:url(../images/menu_bg.png) no-repeat top right; padding-right:10px; color:#2a263d}
#nav li.last{ background:none; padding-right:0;}
#home_news_wrapper{ background:url(../images/bg_middle.png) bottom repeat-x; position:relative; margin-top:-92px; padding-bottom:5px; z-index:100;}
#home_news{ width:940px; margin:0 auto;}
#home_news_first{ background:url(../images/despre_colectia_bg.png) no-repeat; float:left; width:249px; height:238px; padding:30px 30px; margin-left:65px;}
#home_news_first h2{ font-size:36px; text-transform:uppercase; color:#cad6e1; line-height:36px; font-family: NewsGothBdXCnBTBold, Arial, Helvetica, sans-serif;}
#home_news_first h2 span.news_first_small_title{ font-size:28px;}
#home_news_first p{ font-size:12px; color:#808092;}
#home_news_first p{ font-size:12px; color:#808092;}
#home_news_first a{ color:#fff;}
#home_news_second{ float:left; width:480px; height:100px; margin:77px 0 0 37px;}
#home_news_second h3{ font-size:24px; text-transform:uppercase; color:#bdc8d5; line-height:36px; font-family: NewsGothBdXCnBTBold, Arial, Helvetica, sans-serif;}
#content{ width:940px; margin:0 auto;}
#content_inner{ width:940px; margin:75px auto 0 auto;}
#left{ width:640px; float:left; margin-right:40px; margin-bottom:40px; *padding-bottom:40px;}
#right{ width:220px; float:left; overflow:hidden; padding-left:39px; margin-bottom:40px; *padding-bottom:40px;}
#autorii_nostrii_sidebar{ width:220px; float:left; margin-bottom:40px; padding-bottom:40px; border-bottom:1px dotted #9d9d9d;}
#autorii_nostrii_sidebar h3{ font-size:18px; line-height:18px; color:#0099cc; margin-bottom:20px; text-transform:uppercase; font-family: MyriadPro-Regular, Arial, Helvetica, sans-serif;}
#autorii_nostrii_sidebar p{ line-height:18px; margin-top:15px;}
#newsletter{ background:url(../images/newsletter_bg.png) no-repeat; width:200px; height:120px; padding:65px 0 0 20px; overflow:hidden; float:left; margin-bottom:40px;}
#newsletter h4, #retele_socializare h4, #catalog h4, #noutati_sidebar_middle h4{ font-size:18px; text-transform:uppercase; color:#333; font-family: MyriadPro-Regular, Arial, Helvetica, sans-serif;}
#newsletter-form {width: 178px; position: relative; float:left; overflow:hidden; margin:0px 0 0 0; border: 1px solid #999;}
#newsletter-input { background-color: #fff; border:none; color: #999; height: 12px; width: 136px; padding: 4px 10px;float:left;font-size:12px;}
#newsletter-submit {background: #999 url(../images/newsletter_arrow.png) no-repeat 9px 5px; border:none; height: 20px; width: 22px; float:left;}
#newsletter-submit:hover {background-color: #666;}
#noutati_sidebar_top{ background: url(../images/noutati_top_bg.png) no-repeat; width:221px; height:24px; overflow:hidden; float:left;}
#noutati_sidebar_middle{ background: url(../images/noutati_middle_bg.png) repeat-y; width:201px; padding:10px 0 0 20px; overflow:hidden; float:left;}
#noutati_sidebar_bottom{ background: url(../images/noutati_bottom_bg.png) no-repeat; width:221px; height:28px; overflow:hidden; float:left; margin-bottom:40px;}	
#retele_socializare{ background: url(../images/socializare_bg.png) no-repeat; width:203px; height:101px; padding:20px 0 0 20px; overflow:hidden; float:left; margin-bottom:40px;}
#retele_socializare ul.social_icons{list-style:none;float:left;margin:10px 0 0 0;}
#retele_socializare ul.social_icons li {float:left;margin-right:15px;}	
#catalog{ background: url(../images/catalog_bg.png) no-repeat; width:180px; height:150px; padding:22px 10px 0 28px; overflow:hidden; float:left; margin-bottom:40px;}
#catalog a.pdf{ background:url(../images/pdf.png) no-repeat; width:158px; height:50px; float:left; overflow:hidden;}
#catalog a.pdf:hover{ background:url(../images/pdf_hover.png) no-repeat;}
#parteneri_media_wrapper{ background-color:#f2effd; border-top:1px solid #ccc; height:60px;}
#parteneri_media{ width:820px; margin:0 auto; padding-left:60px;}
#parteneri_media h5{ font-size:18px; text-transform:uppercase; color:#999; font-family: MyriadPro-Regular, Arial, Helvetica, sans-serif; line-height:60px; float:left;}
#parteneri_media a.partners_img{ float:left; margin:12px 0 0 100px;}
#partener_oficial_wrapper{ background-color:#f2effd; border-top:1px solid #ccc; height:90px;}
#partener_oficial{ width:820px; margin:0 auto; padding-left:60px;}
#partener_oficial h5{ font-size:18px; text-transform:uppercase; color:#999; font-family: MyriadPro-Regular, Arial, Helvetica, sans-serif; line-height:90px; float:left;}
#partener_oficial a.partners_img{ float:left; margin:15px 0 0 100px;}
#footer_wrapper{ background-color:#2a263d; border-top:2px solid #333366;}
#footer{ width:820px; height:50px; margin:0 auto; padding:40px 0 40px 60px;}
#footer ul.footer_nav{ list-style:none; float:left;}
#footer ul.footer_nav li{ float:left; margin-right:13px;}
#footer ul.footer_nav li a{ float:left; display:block; color:#706c83; font-size:13px; text-transform:uppercase; font-family: MyriadPro-Regular, Arial, Helvetica, sans-serif;}
/*=====END ID-uri======*/

/*=====CLASE======*/
.clear{ clear:both;}
.left{ float:left; margin-right:20px;}
.right{ float:right;}
.blue{ color:#0099cc;}
img.border_img{ border:1px solid #bdbdbd; background-color:#fff; padding:5px 5px;}
img.small_border_img{ border:1px solid #bdbdbd; background-color:#fff; padding:3px 3px;}
.sidebar_last{ margin-bottom:0!important;}
.inner_sidebar{ float:left; border-left:1px solid #ccc;}
.vertical_line{ float:left; width:940px; height:1px; border-top:1px solid #ccc; margin:3px 0 50px 0;}
.top_icons{ list-style:none; float:right; height:28px; position:relative; margin-top:30px;}
.top_icons li{ float:left; height:14px; line-height:14px; background: url(../images/header_icons_separators.png) right 2px no-repeat; padding:0 15px 0 15px;}
.top_icons li a{ float:left; display:inline-block;}
.top_icons li.last{ background:none; padding-right:0;}
.search_wrapper { position: relative; margin: 32px 10px 0 12px; float:right;}
.trigger{ position: relative;}
.popup{ position: absolute; display: block; z-index: 5000; width:245px; height:38px; background:url(../images/search_bg.png) no-repeat;}
#cautare-form {width: 230px; position: relative; float:left; overflow:hidden; margin:11px 0 0 6px; border: 1px solid #999;}
#cautare-input { background-color: #fff; border:none; color: #999; height: 12px; width: 188px; padding: 4px 10px; float:left; font-size:12px;}
#cautare-submit {background: #999 url(../images/newsletter_arrow.png) no-repeat 9px 5px; border:none; height: 20px; width: 22px; float:left;}
#cautare-submit:hover {background-color: #666;}
.home_news_item{ width:195px; float:left; margin:14px 45px 0 0;}
.home_news_item .date_comments a{ font-size:10px; color:#06a2ca; margin-right:5px; padding-right:5px; height:10px; line-height:10px;}
.home_news_item .date_comments a.first{ border-right:1px solid #06a2ca; height:10px; line-height:10px;}
.home_news_item a.home_news_text{ font-size:12px; color:#999; line-height:14px; margin:5px 0 10px 0; float:left;}
.left_box{ width:640px; float:left; margin-bottom:65px;}
.left_box h3{ margin-bottom:10px;}
.left_box h3 a{ font-size:18px; line-height:18px; color:#0099cc; text-transform:uppercase; font-family: MyriadPro-Regular, Arial, Helvetica, sans-serif;}
.left_box h5{ margin-bottom:17px;}
.left_box p.grey{ color:#666666;}
.left_box h5 a{ font-size:15px; line-height:18px; color:#333; font-weight:bold;}
.left_box p.testimonials{ font-family:Georgia, "Times New Roman", Times, serif; color: #666666; font-style:italic; line-height:16px; margin-bottom:6px;}
.left_box p.testimonials_details{ color: #666666; font-size:14px; margin-bottom:10px;}
.left_box p.testimonials_details span{ color: #000; font-weight:bold;}
.evenimente_box{ width:640px; float:left; margin-bottom:50px;}
.evenimente_box h2{ margin-bottom:10px;}
.evenimente_box h2 a{ font-size:18px; line-height:18px; color:#07a2ca; font-family: MyriadProSemibold, Arial, Helvetica, sans-serif;}
span.date_accesari{ font-size:11px; font-weight:bold; color:#999; margin-bottom:3px; float:left; width:415px;}
span.date_accesari a{ font-size:11px; font-weight:bold; color:#999;}
.noutati_item{ width:180px; float:left; margin-top:12px;}
.noutati_item a.noutati_date{ font-size:10px; color:#07a2ca; width:180px; float:left;}
.noutati_item a.noutati_text{ font-size:12px; line-height:14px; color:#000;}
.pagination_wrapper{ width:640px; height:34px; background-color:#eee; margin-bottom:60px; float:left;}
form.rezultate_form{ float:left; margin:8px 26px 0 10px;}
form.rezultate_form select.clasa_select{ width:70px; height:20px; float:left; margin-right:8px; color:#666666; font-size:11px;}
.afiseaza_pagination{ float:left; margin-top:10px; margin-left:12px;}
.afiseaza_pagination span{ color:#999; font-size:11px;}
.afiseaza_pagination span a.nr_afisari{ color:#666666; font-size:11px; font-weight:bold; background:url(../images/arrow_pag.png) right no-repeat; padding-right:10px;}
.pagination{width:190px; float:right; padding:5px 0px; margin-top:5px;}
.pagination span.inactive a{color: #666666; text-decoration: none; margin:0 1px; font-size:11px; font-weight:bold; width:12px; height:16px; line-height:16px; float:left; text-align:center;}
.pagination span.active a{ color:#07a2ca; text-decoration: underline; margin:0 1px; font-size:14px; font-weight:bold; width:12px; height:16px; line-height:16px; float:left; text-align:center;}
.pagination span.pagination_arrow{ font-family: Arial, Helvetica, sans-serif; font-size:16px; font-weight:normal; width:12px; height:16px; line-height:14px; float:left; text-align:center;}
.pagination span.black{ color:#000;}
.pagination span.big_no{  width:22px!important; float:left; text-align:center;}
/*=====END CLASE======*/

/*=== Custom Slider Styles ===*/
#slider_wrapper { position:relative; height:460px; background-color:#fff; z-index:10;}
#slider {position:relative; width:940px; height:460px; margin:0 auto;}
#slider img {position:absolute;top:0px;left:0px;display:none;}
#slider a {border:0;display:block;}
.nivo-controlNav {position:absolute; left:150px; top:330px; z-index:900;}
.nivo-controlNav a {display:block; width:7px; height:19px; line-height:19px; padding:0 6px; margin-right:10px; background: url(../images/slider_bullet.png) no-repeat; border:0; float:left; font-size:12px; color:#666666; position:relative; z-index:9; cursor:pointer; font-family: MyriadPro-Regular, Arial, Helvetica, sans-serif;}
.nivo-controlNav a.active { font-weight:bold; color:#000;}
.nivo-directionNav a {display:block;width:25px;height:25px;text-indent:-9999px;border:0;position:absolute;top:266px;z-index:9;cursor:pointer; border:1px solid red;}
a.nivo-nextNav {right:0px; background:url(../images/sliderArrowRight.png) no-repeat; width:25px; height:25px;}
a.nivo-prevNav {left:0px; background:url(../images/sliderArrowLeft.png) no-repeat; width:25px; height:25px;}
/* The Nivo Slider styles */
.nivoSlider {position:relative;}
.nivoSlider img {position:absolute;top:0px;left:0px;}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {position:absolute; top:0px; left:0px; width:100% ;height:100%; border:0; padding:0; margin:0; z-index:6; display:none;}
/* The slices and boxes in the Slider */
.nivo-slice {display:block;position:absolute;z-index:5;height:100%;}
.nivo-box {display:block;position:absolute;z-index:5;}
/* Caption styles */
.nivo-caption {position:absolute; overflow:hidden; bottom:0; left:1px; background: url(../images/slider_description_bg.png) no-repeat; width:378px; height:74px; z-index:800; display:none;}
.nivo-html-caption {display:none;}
.nivo-caption h2{ margin:15px 0 0 20px;}
.nivo-caption h2 a{ font-size:12px; line-height:18px; color:#fff; text-decoration:none;}
.nivo-caption h2 a span{ font-size:24px; line-height:24px; color:#fff; text-decoration:none;}

/* Carousel Module
---------------------------------------------------------- */
.jcarousel-skin-tango .jcarousel-container { width:840px; height:160px; margin:40px 35px; padding-left:30px;}
.jcarousel-skin-tango .jcarousel-direction-rtl { direction: rtl;}
.jcarousel-skin-tango .jcarousel-clip { overflow: hidden;}
.jcarousel-skin-tango .jcarousel-item { height: 160px; float:left;}
.jcarousel-skin-tango .jcarousel-item-horizontal { margin-left: 5px; margin-right: 60px;}
.jcarousel-skin-tango .jcarousel-next-horizontal { position: absolute; top: 64px; right: -35px; width: 32px; height: 32px; cursor: pointer; background: url(../images/carousel_right_arrow.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal { left: -2px; right: auto; background-image: url(../images/carousel_left_arrow.png);}
.jcarousel-skin-tango .jcarousel-prev-horizontal { position: absolute; top: 64px; left: -35px; width: 32px; height: 32px; cursor: pointer; background: url(../images/carousel_left_arrow.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal { right: -1px; background-image: url(../images/carousel_right_arrow.png);}