/* CSS Document */

/*=====GLOBALE======*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
address,caption,cite,code,dfn,h1,h2,h3, h4,h5,h6,th,var { font-style: normal; font-weight: normal;}
caption,th { text-align: left; }
q:before,q:after { content: ''; }
a { text-decoration: none; color:#333; font-size:12px; line-height:18px;}
a:hover { text-decoration: underline; }
a.detalii{ font-size:12px; color:#fff; text-transform:uppercase; text-align:center; width:97px; height:27px; line-height:25px; background:url(../images/detalii_bg.png) no-repeat; float:left;}
p{ font-size: 12px; line-height:18px; color: #333; margin-bottom:19px;}
h1, h2, h3, h4, h5, h6 { color:#333;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color:#333;}
h1.page_title, h2.page_title{ font-size:18px; color:#07a2ca; text-transform:uppercase; font-family: 'MyriadProBold', Arial, Helvetica, sans-serif; margin-bottom:25px;}
h1.page_title span, h2.page_title span{ font-family: 'MyriadPro-Regular', Arial, Helvetica, sans-serif; text-transform:none;}
h2{ font-size:18px; line-height:18px; color:#07a2ca; font-family: 'MyriadProSemibold', Arial, Helvetica, sans-serif;}
h3{ font-size:14px; line-height:18px; text-transform:uppercase;}
h5{ font-size:12px; line-height:18px; font-weight:bold; font-style:italic; font-family:Georgia, "Times New Roman", Times, serif;}
h5 span{ font-family:Arial, Helvetica, sans-serif;}
h2.subtitlu{ font-size:12px; line-height:18px; color:#333; font-weight:bold; margin-bottom:30px;}
ol, ul {list-style: none;}
blockquote, q { quotes: none;}
:focus { outline: 0;}
ins { text-decoration: none;}
del { text-decoration: line-through;}
table { border-collapse: collapse; border-spacing: 0;}
/* float clearing for IE6 */
* html .clearfix{ height: 1%; overflow: visible;}
/* float clearing for IE7 */
*+html .clearfix{ min-height: 1%;}
/* float clearing for everyone else */
.clearfix:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;}
.bold { font-weight: bold;}
.italic { font-style: italic;}
.clearBoth { clear: both; display: block; font-size: 0; height: 0; line-height: 0; overflow: hidden; width: 100%; vertical-align: super;}
.hidden { display: none;}
div::selection, span::selection, p::selection, li::selection, dd::selection, dt::selection, fieldset::selection, label::selection, input::selection, textarea::selection, table::selection, tr::selection, td::selection, iframe::selection, b::selection, i::selection, blockquote::selection, pre::selection, code::selection, strong::selection, em::selection, u::selection, sub::selection, sup::selection,  legend::selection, a::selection {
        background: #072945;
		color: #ffffff;
}
div::-moz-selection, span::-moz-selection, p::-moz-selection, li::-moz-selection, dd::-moz-selection, dt::-moz-selection, fieldset::-moz-selection, label::-moz-selection, input::-moz-selection, textarea::-moz-selection, table::-moz-selection, tr::-moz-selection, td::-moz-selection, iframe::-moz-selection, b::-moz-selection, i::-moz-selection, blockquote::-moz-selection, pre::-moz-selection, code::-moz-selection, strong::-moz-selection, em::-moz-selection, u::-moz-selection, sub::-moz-selection, sup::-moz-selection,  legend::-moz-selection, a::-moz-selection  {
        background: #072945;
		color: #ffffff;
}

/* @font-face
---------------------------------------------------------- */
@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'MyriadPro-Regular';
    src: url('../font/myriadpro-regular.eot');
}
@font-face {
    /* This declaration targets everything else */
    font-family: 'MyriadPro-Regular';
    src: url(//:) format('no404'), url('../font/myriadpro-regular.woff') format('woff'), url('../font/myriadpro-regular.ttf') format('truetype'), url('../font/myriadpro-regular.svgz#MyriadPro-Regular') format('svg'), url('../font/myriadpro-regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'MyriadProBold';
    src: url('../font/myriadpro-bold-webfont.eot');
}
@font-face {
    /* This declaration targets everything else */
    font-family: 'MyriadProBold';
    src: url(//:) format('no404'), url('../font/myriadpro-bold-webfont.woff') format('woff'), url('../font/myriadpro-bold-webfont.ttf') format('truetype'), url('../font/myriadpro-bold-webfont.svgz#MyriadProBold') format('svg'), url('../font/myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'MyriadProSemibold';
    src: url('../font/myriadpro-semibold-webfont.eot');
}
@font-face {
    /* This declaration targets everything else */
    font-family: 'MyriadProSemibold';
    src: url(//:) format('no404'), url('../font/myriadpro-semibold-webfont.woff') format('woff'), url('../font/myriadpro-semibold-webfont.ttf') format('truetype'), url('../font/myriadpro-semibold-webfont.svgz#MyriadProSemibold') format('svg'), url('../font/myriadpro-semibold-webfont.svg#MyriadProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'NewsGothBdXCnBTBold';
    src: url('../font/newgtbxc-webfont.eot');
}
@font-face {
    /* This declaration targets everything else */
    font-family: 'NewsGothBdXCnBTBold';
    src: url(//:) format('no404'), url('../font/newgtbxc-webfont.woff') format('woff'), url('../font/newgtbxc-webfont.ttf') format('truetype'), url('../font/newgtbxc-webfont.svgz#NewsGothBdXCnBTBold') format('svg'), url('../font/newgtbxc-webfont.svg#NewsGothBdXCnBTBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'SFAtarianSystemBold';
    src: url('../font/sf_atarian_system_bold-webfont.eot');
}
@font-face {
    /* This declaration targets everything else */
    font-family: 'SFAtarianSystemBold';
    src: url(//:) format('no404'), url('../font/sf_atarian_system_bold-webfont.woff') format('woff'), url('../font/sf_atarian_system_bold-webfont.ttf') format('truetype'), url('../font/sf_atarian_system_bold-webfont.svgz#SFAtarianSystemBold') format('svg'), url('../font/sf_atarian_system_bold-webfont.svg#SFAtarianSystemBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*=====END GLOBALE======*/

/*=====ID-uri======*/
body { background: url(../images/html_bg.png) top center repeat-y;}
#main { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; background: url(../images/body_bg.png) top center no-repeat;}
#header_wrapper{ background:url(../images/header_bg.png) repeat-x; height:123px; position:relative;}
#header{ width:940px; margin:0 auto; position:relative;}
#logo{width:191px;height:72px; background: url(../images/logo.png) no-repeat;position:relative; margin:25px 0 2px 0; float:left;}
#logo a {width:191px;height:72px; display: block; text-indent: -1000em; position: absolute; left: 0px; top: 0px;}
/* Navigation
---------------------------------------------------------- */
#nav { float:right; height:31px; position:relative; margin-top:19px; clear:right; z-index: 150; *width:670px;}
#nav li { list-style:none; float:left; height:31px; background:url(../images/menu_bullet.png) right 12px no-repeat; padding:0 27px 0 14px; position: relative;white-space: nowrap;}
#nav li.last_menu_item{ background:none; padding:0 0 0 14px;}
#nav li a.level-1-a { float:left; overflow:hidden; display:block; height:31px; line-height:31px; padding-left:10px; color: #fff; font-size: 20px;}
#nav li a.level-1-a span {height:31px;line-height:31px;font-family:'Myriad Pro', Arial, Verdana; padding-right:10px; display: inline-block; text-shadow: 0 0px 1px white;}
/*#nav li a.level-1-a span:hover {text-shadow: 0 0px 1px black}*/
#nav span {font-family:'Myriad Pro', Arial, Verdana; padding-right:10px;}
#nav li.current_page_item a.level-1-a { float:left; display:block; background:url(../images/menu_bg.png) no-repeat bottom left; padding-left:10px; color: #e01a22;}
#nav li.current_page_item a.level-1-a:hover { float:left; display:block; background:url(../images/menu_bg.png) no-repeat bottom left; padding-left:10px;}
#nav li a.level-1-a:hover,
#nav li:hover a.level-1-a { background:url(../images/menu_bg.png) no-repeat bottom left; color: #ffffff;}
#nav li a.level-1-a:hover span, 
#nav li.current_page_item a.level-1-a span,
#nav li:hover a.level-1-a span { background:url(../images/menu_bg.png) no-repeat top right; padding-right:10px; color:#2a263d; text-shadow: 0 0px 1px black}
#nav li.last-page-item {background: none;}
/*1st sub level menu*/
#nav ul li.level-1-li ul { margin: 0;/* background: url(../images/sub_nav_bottom.png) bottom no-repeat; */padding: 0 0 0 0;  position: absolute; display: block;visibility: hidden; z-index: 150; width: 250px; left: 15px!important; border-right: solid 1px #CECECE;
border-bottom: solid 1px #CECECE;}

.lastItem a {border-bottom: solid 1px #6E6E6E !important; height: 31px !important; padding-bottom: 1px !important;}
.lastItem {height: 36px !important;}
.lastItem span {border-bottom: solid 1px white !important;width: 236px !important;}

#nav ul li a{ cursor:pointer;}
/*Sub level menu list items (undo style from Top level List Items)*/
#nav ul li.level-1-li ul li.level-2-li { display: list-item; float: none; z-index: 150; border-right: solid 1px #656565;}
#nav ul li.level-1-li ul li.level-2-li a.level-2-a {padding: 0;float: none;display: block;color: #233a53;white-space: normal;width: 250px;height: 31px;
line-height: 31px;margin: 0;text-transform: none;font-size: 16px; /*background: url(../images/sub_nav.png) repeat-y;*/ border-right: solid 1px white;}
#nav ul li.level-1-li ul li.level-2-li a.first-li-2 {width: 249px;height: 37px;line-height:31px;padding:3px 0 3px 0;/*background: url(../images/sub_nav_top.png) no-repeat;*/ background-color: #C1CCD8; text-decoration:none !important}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */
#nav ul li.level-1-li ul li.level-2-li ul {margin: 0;z-index: 152;background: url(../images/sub_nav_bottom.png) bottom no-repeat;padding: 0 0 5px 0;top:0;left:250px!important;display:none;}
#nav ul li.level-1-li ul li.level-2-li ul:hover {display: inline-block;}
#nav ul ul li {background-image:none;padding:0;height: 31px;line-height: 31px;}
#nav ul ul a {padding: 0;float: none;display: block;color: #233a53;white-space: normal;width: 250px;height: 31px;line-height: 31px;cursor:pointer; margin:0;text-transform: none;font-size: 16px; /*background: url(../images/sub_nav.png) repeat-y;*/ }
#nav ul ul a.sub_nav_arrow span {background: url(../images/sub_nav_bar.png) 130px 12px no-repeat;}
#nav ul ul a.sub_nav_arrow:hover span {background: #2c2a47 url(../images/sub_nav_bar_hover.png) 130px 12px no-repeat;}
#nav ul ul a:hover span {color: #ffffff;background-color: #2c2a47;text-shadow: 0 0px 1px white; text-decoration:none !important}
#nav ul ul a span {width: 239px !important;display: block;height: 31px;line-height:31px;padding: 0 0px 0 10px; margin-left: 0; text-decoration:none !important; text-shadow: 0 0px 1px #233a53;}
#home_news_wrapper{ background:url(../images/bg_middle.png) bottom repeat-x; position:relative; margin-top:-92px; padding-bottom:5px; z-index:100;}
#home_news{ width:940px; margin:0 auto;}
#home_news_first{ background:url(../images/despre_colectia_bg.png) no-repeat; float:left; width:249px; height:238px; padding:30px 30px; margin-left:65px;}
#home_news_first h1{ font-size:36px; text-transform:uppercase; color:#cad6e1; line-height:36px; font-family: 'NewsGothBdXCnBTBold', Arial, Helvetica, sans-serif;}
#home_news_first h1 span.news_first_small_title{ font-size:28px;}
#home_news_first p{ font-size:12px; color:#808092;}
#home_news_first h2{ font-size:12px; color:#ffffff;font-family: Arial, Helvetica, sans-serif;}
#home_news_first a{ color:#fff;}
#home_news_second{ float:left; width:480px; height:100px; margin:77px 0 0 37px;}
#home_news_second h2{ font-size:24px; text-transform:uppercase; color:#bdc8d5; line-height:36px; font-family: 'NewsGothBdXCnBTBold', Arial, Helvetica, sans-serif;}
#content{ width:940px; margin:0 auto;}
#content_inner{ width:940px; margin:0 auto 160px auto; overflow:hidden;}
#left{ width:640px; float:left; margin-right:10px; padding-right:30px; margin-bottom:40px; *padding-bottom:40px; border-right: solid 1px #CCC; margin-top: 75px;}
#right{ width:219px; float:left; overflow:hidden; padding-left:50px; margin-bottom:40px; *padding-bottom:40px; margin-top: 75px; border-left: solid 1px #CCC; margin-left: -11px;}
#autorii_nostrii_sidebar{ width:220px; float:left; margin-bottom:40px; padding-bottom:40px; border-bottom:1px dotted #9d9d9d;}
#autorii_nostrii_sidebar h3{ font-size:18px; line-height:18px; color:#0099cc; margin-bottom:20px; text-transform:uppercase; font-family: 'MyriadPro-Regular', Arial, Helvetica, sans-serif;}
#autorii_nostrii_sidebar p{ line-height:18px; margin-top:15px;}
#newsletter{ background:url(../images/newsletter_bg.png) no-repeat; width:200px; height:120px; padding:65px 0 0 20px; overflow:hidden; float:left; margin-bottom:40px;}
#newsletter h4, #retele_socializare h4, #catalog h4, #noutati_sidebar_middle h4{ font-size:18px; text-transform:uppercase; color:#333; font-family: 'MyriadPro-Regular', Arial, Helvetica, sans-serif;}
#newsletter-form {width: 178px; position: relative; float:left; overflow:hidden; margin:0px 0 0 0; border: 1px solid #999;}
#newsletter-input { background-color: #fff; border:none; color: #999; height: 12px; width: 136px; padding: 4px 10px;float:left;font-size:12px;}
#newsletter-submit {background: #999 url(../images/newsletter_arrow.png) no-repeat 9px 5px; border:none; height: 20px; width: 22px; float:left;}
#newsletter-submit:hover {background-color: #666;}
#noutati_sidebar_top{ background: url(../images/noutati_top_bg.png) no-repeat; width:221px; height:24px; overflow:hidden; float:left;}
#noutati_sidebar_middle{ background: url(../images/noutati_middle_bg.png) repeat-y; width:201px; padding:10px 0 0 20px; overflow:hidden; float:left;}
#noutati_sidebar_bottom{ background: url(../images/noutati_bottom_bg.png) no-repeat; width:221px; height:28px; overflow:hidden; float:left; margin-bottom:40px;}	
#retele_socializare{ background: url(../images/socializare_bg.png) no-repeat; width:203px; height:101px; padding:20px 0 0 20px; overflow:hidden; float:left; margin-bottom:40px;}
#retele_socializare ul.social_icons{list-style:none;float:left;margin:10px 0 0 0;}
#retele_socializare ul.social_icons li {float:left;margin-right:15px;}	
#catalog{ background: url(../images/catalog_bg.png) no-repeat; width:180px; height:150px; padding:22px 10px 0 28px; overflow:hidden; float:left;/* margin-bottom:40px;*/}
#catalog a.pdf{ background:url(../images/pdf.png) no-repeat; width:158px; height:50px; float:left; overflow:hidden;}
#catalog a.pdf:hover{ background:url(../images/pdf_hover.png) no-repeat;}
#parteneri_media_wrapper{ background-color:#f2effd; border-top:1px solid #ccc; height:60px;}
#parteneri_media{ width:820px; margin:0 auto; padding-left:60px;}
#parteneri_media h6{ font-size:18px; text-transform:uppercase; color:#999; font-family: 'MyriadPro-Regular', Arial, Helvetica, sans-serif; line-height:60px; float:left;}
#parteneri_media a.partners_img{ float:left; margin:12px 0 0 100px;}
#partener_oficial_wrapper{ background-color:#f2effd; border-top:1px solid #ccc; height:90px;}
#partener_oficial{ width:820px; margin:0 auto; padding-left:60px;}
#partener_oficial h6{ font-size:18px; text-transform:uppercase; color:#999; font-family: 'MyriadPro-Regular', Arial, Helvetica, sans-serif; line-height:90px; float:left;}
#partener_oficial a.partners_img{ float:left; margin:15px 0 0 100px;}
#footer_wrapper{ background-color:#2a263d; border-top:2px solid #333366;}
#footer{ width:820px; height:50px; margin:0 auto; padding:40px 0 40px 60px;}
#footer ul.footer_nav{ list-style:none; float:left;}
#footer ul.footer_nav li{ float:left; margin-right:13px;}
#footer ul.footer_nav li a{ float:left; display:block; color:#706c83; font-size:13px; text-transform:uppercase; font-family: 'MyriadPro-Regular', Arial, Helvetica, sans-serif;}
#footer ul.footer_nav li a.selected, #footer ul.footer_nav li a:hover{ color:#ccc;}
/*=====END ID-uri======*/

/*#nav ul {border-bottom:solid 1px #cecece}*/

/*=====CLASE======*/
.clear{ clear:both;}
.left{ float:left; margin-right:20px;}
.right{ float:right;}
.blue{ color:#0099cc;}
img.border_img{ border:1px solid #bdbdbd; background-color:#fff; padding:5px 5px;}
img.small_border_img{ border:1px solid #bdbdbd; background-color:#fff; padding:3px 3px;}
.sidebar_last{ margin-bottom:0!important;}
.inner_sidebar{ float:left; border-left:1px solid #ccc;}
.vertical_line{ float:left; width:940px; height:1px; border-top:1px solid #ccc; margin:3px 0 50px 0;}
.top_icons{ list-style:none; float:right; height:28px; position:relative; margin:30px 42px 0 0;}
.top_icons li{ float:left; height:14px; line-height:14px; background: url(../images/header_icons_separators.png) right 2px no-repeat; padding:0 15px 0 15px;}
.top_icons li a{ float:left; display:inline-block;}
.top_icons li.last{ background:none; padding-right:0;}
.search_wrapper { position: absolute; right:11px; top:32px; float:right; z-index:500;}
.trigger{ position: relative;}
.popup{ position: absolute; display: block; z-index: 5000; width:245px; height:38px; background:url(../images/search_bg.png) no-repeat;}
#cautare-form {width: 230px; position: relative; float:left; overflow:hidden; margin:11px 0 0 6px; border: 1px solid #999;}
#cautare-input { background-color: #fff; border:none; color: #999; height: 12px; width: 188px; padding: 4px 10px; float:left; font-size:12px;}
#cautare-submit {background: #999 url(../images/newsletter_arrow.png) no-repeat 9px 5px; border:none; height: 20px; width: 22px; float:left;}
#cautare-submit:hover {background-color: #666;}
.home_news_item{ width:195px; float:left; margin:14px 45px 0 0;}
.home_news_item .date_comments a{ font-size:10px; color:#06a2ca; margin-right:5px; padding-right:5px; height:10px; line-height:10px;}
.home_news_item .date_comments a.first{ border-right:1px solid #06a2ca; height:10px; line-height:10px;}
.home_news_item a.home_news_text{ font-size:12px; color:#999; line-height:14px; margin:5px 0 10px 0; float:left;}
.home_news_item a:hover {color:#FFF}

.home_news_firstspan:hover {color:#00ccff}

.left_box{ width:640px; float:left; margin-bottom:20px;}
.left_box h3{ margin-bottom:10px;}
.left_box h3 a{ font-size:18px; line-height:18px; color:#0099cc; text-transform:uppercase; font-family: 'MyriadPro-Regular', Arial, Helvetica, sans-serif;}
.left_box h5{ margin-bottom:17px;}
.left_box p.grey{ color:#666666;}
.left_box h5 a{ font-size:15px; line-height:18px; color:#333; font-weight:bold;}
.left_box p.testimonials{ font-family:Georgia, "Times New Roman", Times, serif; color: #666666; font-style:italic; line-height:22px; margin-bottom:6px;}
.left_box p.testimonials_details{ color: #666666; font-size:14px; margin-bottom:10px;}
.left_box p.testimonials_details span{ color: #000; font-weight:bold;}
.testimonials_wrapper{ width:640px; float:left; margin-bottom:40px; margin-top:30px;}
.testimonials_left{ width:145px; float:left; margin-right:25px;}
span.testimonials_autor{ font-size:12px; font-weight:bold; margin-top:12px; float:left;}
.testimonials_wrapper p.testimonials{ font-family:Georgia, "Times New Roman", Times, serif; color: #666666; font-style:italic; line-height:16px; margin-bottom:25px;}
.testimonials_right{ width:470px; float:left;}
.colectia_item_sidebar{ float:left; margin:10px 0 0 45px; width:129px;}
.colectia_item_sidebar a img{ margin-bottom:20px;}
.colectia_item_sidebar a.colectia_item_title{ font-size:12px; color:#990000; display:block; margin-bottom:1px;}
.colectia_item_sidebar a.colectia_item_description{ font-size:14px; line-height:14px; color:#333; font-weight:bold; font-family:Georgia, "Times New Roman", Times, serif;}
.evenimente_box{ width:640px; float:left; margin-bottom:50px;}
.evenimente_box h2{ margin-bottom:10px;}
.evenimente_box h2 a{ font-size:18px; line-height:18px; color:#07a2ca; font-family: 'MyriadProSemibold', Arial, Helvetica, sans-serif;}
span.date_accesari{ font-size:11px; font-weight:bold; color:#999; margin-bottom:3px; float:left; width:415px;}
span.date_accesari a{ font-size:11px; font-weight:bold; color:#999;}
.noutati_item{ width:180px; float:left; margin-top:12px;}
.noutati_item a.noutati_date{ font-size:10px; color:#07a2ca; width:180px; float:left;}
.noutati_item a.noutati_text{ font-size:12px; line-height:14px; color:#000;}
.pagination_wrapper{ width:640px; height:34px; background-color:#eee; /*margin-bottom:50px;*/ float:left; }
form.rezultate_form{ float:left; margin:8px 26px 0 10px;}
form.rezultate_form select.clasa_select{ width:70px; height:20px; float:left; margin-right:8px; color:#666666; font-size:11px;}
.afiseaza_pagination{ float:left; margin-top:6px; margin-left:40px;}
.afiseaza_pagination span{ color:#999; font-size:11px;}
.afiseaza_pagination span a.nr_afisari{ color:#666666; font-size:11px; font-weight:bold; background:url(../images/arrow_pag.png) right no-repeat; padding-right:10px;}
ul.interviuri_list{ list-style:none; float:left; width:640px; margin-top:20px; padding-top:30px; border-top:1px dotted #999;}
ul.interviuri_list li{ margin:0!important;}
ul.interviuri_list li a{ font-size:14px; color:#07a2ca; display:block; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; line-height:20px; text-decoration:underline; margin:0!important;}
.pagination{/*width:190px;*/ float:right; padding:5px 0px; margin-top:5px; margin-right:12px}
.pagination span.inactive a{color: #797979; text-decoration: none; margin:0 1px; font-size:11px; font-weight:bold; width:14px; height:16px; line-height:16px; float:left; text-align:center;}
.pagination span.active a{ color:#07a2ca; text-decoration: underline; margin:0 1px; font-size:14px; font-weight:bold; width:12px; height:16px; line-height:16px; float:left; text-align:center;}
.pagination span.pagination_arrow{ font-family: Arial, Helvetica, sans-serif; font-size:18px; font-weight:normal; width:12px; height:16px; line-height:14px; float:left; text-align:center;}
.pagination span.black{ color:#000;}
.pagination span.big_no{  width:22px!important; float:left; text-align:center;}
ul.colectia_item_wrapper{ list-style:none;}
li.colectia_item{ float:left; margin:0 120px 30px 0; width:129px; height:270px;}
li.colectia_item.last{ margin-right:0;}
li.colectia_item a img{ margin-bottom:20px;}
li.colectia_item a.colectia_item_title{ font-size:12px; color:#990000; display:block; margin-bottom:1px;}
li.colectia_item a.colectia_item_description{ font-size:14px; line-height:14px; color:#333; font-weight:bold; font-family:Georgia, "Times New Roman", Times, serif;}
ul.sidebar_categories{ list-style:none; width:182px; padding:0 19px 10px 19px; margin-bottom:20px; border-bottom:1px  dotted #777; float:left; overflow:hidden;}
ul.sidebar_categories li{ float:left; margin:10px 0; width:182px; height:92px;}
ul.sidebar_categories li a.sidebar_first_category{ background: url(../images/carti_bg.png) no-repeat;}
ul.sidebar_categories li a.sidebar_second_category{ background: url(../images/evenimente_bg.png) no-repeat;}
ul.sidebar_categories li a.sidebar_third_category{ background: url(../images/autori_bg.png) no-repeat;}
ul.sidebar_categories li a{ font-size:18px; line-height:16px; color:#990000; display:block; font-family: 'MyriadProBold', Arial, Helvetica, sans-serif; float:left; width:182px; height:65px; padding-top:27px; text-align:center;}
ul.sidebar_categories li a span{ font-family: 'MyriadPro-Regular', Arial, Helvetica, sans-serif;}
.evenimente_single_box{ width:640px; float:left; margin:20px 0 20px 0;}
.evenimente_single_box h2{ margin-bottom:10px;}
.evenimente_single_box h2 a{ font-size:18px; line-height:18px; color:#07a2ca; font-family: 'MyriadProSemibold', Arial, Helvetica, sans-serif;}
.evenimente_single_box p{ margin-bottom:20px;}
.evenimente_single_box p.first{ padding-top:30px;}
.evenimente_second_box{ width:640px; float:left; margin:20px 0 30px 0; padding-bottom:40px; border-bottom:1px dotted #999;}
.evenimente_second_box p.evenimente_text{ width:160px; margin-left:20px; font-family:Georgia, "Times New Roman", Times, serif; font-style: italic; font-size:12px; float:left;}
ul.evenimente_list{ list-style:none; float:left;}
ul.evenimente_list li{ margin:0!important;}
ul.evenimente_list li a{ font-size:14px; color:#07a2ca; display:block; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; line-height:20px; text-decoration:underline; margin:0!important;}
.interviuri_wrapper{ margin-bottom:30px; float:left;}
.interviuri_box{ width:640px; float:left; margin:20px 0 20px 0;}
.interviuri_box.first{ margin-top:0;}
.interviuri_box h2{ margin-bottom:1px;}
.interviuri_box h2 a{ font-size:18px; line-height:18px; color:#07a2ca; font-family: 'MyriadProSemibold', Arial, Helvetica, sans-serif;}
.interviuri_box h3{ margin-bottom:10px;}
.interviuri_box p{ padding-top:30px;}
.product_wrapper{ width:940px; padding-bottom:30px; margin-bottom:30px; border-bottom:1px solid #999; overflow:hidden;}
.product_left{ width:266px; float:left; overflow:hidden; margin-right:49px;}
.detalii_carte{ width:200px; margin:25px 0 20px 56px;}
.detalii_carte ul.rasfoieste_cuprins{ width:200px; margin-bottom:10px; float:left; clear:both;}
.detalii_carte ul.rasfoieste_cuprins li{ float:left; margin-right:7px; padding-right:7px; border-right:1px solid #68688d; display:block; height:12px; line-height:12px;}
.detalii_carte ul.rasfoieste_cuprins li.last{ border:none;}
.detalii_carte ul.rasfoieste_cuprins li a{ float:left; display:block; font-size:11px; color:#68688d; height:12px; line-height:12px;}
.detalii_carte p{ font-size:11px; line-height:18px; color:#333; margin:0;}
.detalii_carte span.green{ color:#006600;}
.product_right{ width:625px; float:left; overflow:hidden;}
.product_right h1.product_title a{ font-size:24px; line-height:24px; color:#07a2ca; display:block; font-family: 'MyriadProBold', Arial, Helvetica, sans-serif; margin-bottom:12px;}
.product_right h1.product_title a span{ font-size:16px; color:#333;}
.product_share{ width:625px;}
.product_share a.trimite_button{ font-size:12px; color:#333; background:url(../images/trimite_button.png) no-repeat; width:123px; height:24px; line-height:24px; text-align:center; float:left;}
.product_share a.trimite_button:hover{ text-decoration: none !important;}
.nohover:hover{ text-decoration: none !important;}
.fb_share{ width:450px; float:left; border-left:1px solid #777; padding-left:16px; margin-left:16px; height:23px; line-height:23px;}
.fb_share a{ float:left; margin-right:8px;}
.product_cumpara{ width:625px; border-top:1px dotted #777; border-bottom:1px dotted #777; height:37px; line-height:37px; padding:5px 0; margin:34px 0 30px 0;}
.product_cumpara p.price{ font-size:24px; line-height:37px; color:#333; font-family: 'MyriadProBold', Arial, Helvetica, sans-serif; float:left;}
.product_cumpara p.price span{ font-size:14px; line-height:37px; color:#333; font-family: 'MyriadPro-Regular', Arial, Helvetica, sans-serif;}
.product_cumpara a.cumpara_button{ font-size:13px; color:#fff; text-transform:uppercase; background: url(../images/cumpara_button.png) no-repeat; width:171px; height:37px; line-height:37px; text-align:center; float:left; font-family: 'MyriadPro-Regular', Arial, Helvetica, sans-serif; margin-left:15px;}
ul.product_item_wrapper{ list-style:none;}
li.product_item{ float:left; margin:20px 72px 0 0; width:129px; height:285px;}
li.product_item.last{ margin-right:0;}
li.product_item a img{ margin-bottom:20px;}
li.product_item a.colectia_item_title{ font-size:12px; color:#990000; display:block; margin-bottom:1px;}
li.product_item a.colectia_item_description{ font-size:14px; line-height:14px; color:#333; font-weight:bold; font-family:Georgia, "Times New Roman", Times, serif;}
ul.autori_item_wrapper{ list-style:none;}
li.autori_item{ float:left; margin:20px 105px 10px 0; width:138px;}
li.autori_item.last{ margin-right:0;}
li.autori_item a img{ margin-bottom:1px; padding:4px 4px; border:1px solid #999;}
li.autori_item a.autori_item_title{ font-size:12px; color:#333; display:block;}
li.autori_item a.autori_item_description{ font-size:14px; line-height:14px; color:#333; font-weight:bold; display: block; height: 30px; margin-top:10px}
/*=====END CLASE======*/

/*=== Custom Slider Styles ===*/
#slider_wrapper { position:relative; height:460px; background-color:#fff; z-index:10;}
#slider {position:relative; width:940px; height:460px; margin:0 auto;}
#slider img {position:absolute;top:0px;left:0px;display:none;}
#slider a {border:0;display:block;}
.nivo-controlNav {position:absolute; left:150px; top:330px; z-index:900;}
.nivo-controlNav a {display:block; width:7px; height:19px; line-height:19px; padding:0 6px; margin-right:10px; background: url(../images/slider_bullet.png) no-repeat; border:0; float:left; font-size:12px; color:#666666; position:relative; z-index:9; cursor:pointer; font-family: 'MyriadPro-Regular', Arial, Helvetica, sans-serif;}
.nivo-controlNav a.active {background: url(../images/slider_bullet_on.png) no-repeat; color:#FFF !important}
.nivo-controlNav a.active { font-weight:bold; color:#000;}
.nivo-directionNav a {display:block;width:25px;height:25px;text-indent:-9999px;border:0;position:absolute;top:266px;z-index:9;cursor:pointer; border:1px solid red;}
a.nivo-nextNav {right:0px; background:url(../images/sliderArrowRight.png) no-repeat; width:25px; height:25px;}
a.nivo-prevNav {left:0px; background:url(../images/sliderArrowLeft.png) no-repeat; width:25px; height:25px;}
/* The Nivo Slider styles */
.nivoSlider {position:relative;}
.nivoSlider img {position:absolute;top:0px;left:0px;}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {position:absolute; top:0px; left:0px; width:100% ;height:100%; border:0; padding:0; margin:0; z-index:6; display:none;}
/* The slices and boxes in the Slider */
.nivo-slice {display:block;position:absolute;z-index:5;height:100%;}
.nivo-box {display:block;position:absolute;z-index:5;}
/* Caption styles */
.nivo-caption {position:absolute; overflow:hidden; bottom:0; left:1px; background: url(../images/slider_description_bg.png) no-repeat; width:378px; height:74px; z-index:800; display:none;}
.nivo-html-caption {display:none;}
.nivo-caption h2{ margin:15px 0 0 20px;}
.nivo-caption h2 a{ font-size:12px; line-height:18px; color:#fff; text-decoration:none;}
.nivo-caption h2 a span{ font-size:24px; line-height:24px; color:#fff; text-decoration:none;}

/* Carousel Module
---------------------------------------------------------- */
.jcarousel-skin-tango .jcarousel-container { width:840px; height:160px; margin:40px 35px; padding-left:30px;}
.jcarousel-skin-tango .jcarousel-direction-rtl { direction: rtl;}
.jcarousel-skin-tango .jcarousel-clip { overflow: hidden;}
.jcarousel-skin-tango .jcarousel-item { height: 160px; float:left;}
.jcarousel-skin-tango .jcarousel-item-horizontal { margin-left: 5px; margin-right: 60px;}
.jcarousel-skin-tango .jcarousel-next-horizontal { position: absolute; top: 64px; right: -35px; width: 32px; height: 32px; cursor: pointer; background: url(../images/carousel_right_arrow.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover { position: absolute; top: 64px; right: -35px; width: 32px; height: 32px; cursor: pointer; background: url(../images/carousel_right_arrow_hover.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal { left: -2px; right: auto; background-image: url(../images/carousel_left_arrow.png);}
.jcarousel-skin-tango .jcarousel-prev-horizontal { position: absolute; top: 64px; left: -35px; width: 32px; height: 32px; cursor: pointer; background: url(../images/carousel_left_arrow.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal { right: -1px; background-image: url(../images/carousel_right_arrow.png);}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover { position: absolute; top: 64px; left: -35px; width: 32px; height: 32px; cursor: pointer; background: url(../images/carousel_left_arrow_hover.png) no-repeat 0 0;}

/* Gallery
---------------------------------------------------------- */
#myGallery { display: none; }
.gv_galleryWrap { position: relative; background-color: #fff; border:1px solid #999; /*width:450px!important;*/ padding:4px 4px 10px 4px!important; float:left;}
/* GALLERY DIV */
.gv_gallery { overflow: hidden; position: relative;}
.gv_imageStore { visibility: hidden; position: absolute; top: 0!important; left: 0!important; border:1px solid red;}
/*************************************************/
/**   PANEL STYLES								**/
/*************************************************/
.gv_panelWrap { filter: inherit; position: absolute; overflow: hidden; }
.gv_panel-loading { background: url(img-loader.gif) 50% 50% no-repeat #aaa; }
.gv_frame-loading { background: url(img-loader.gif) 50% 50% no-repeat #aaa; }
/* GALLERY PANELS */
.gv_panel { filter: inherit; position: absolute; top: 0; left: 0; overflow: hidden; z-index: 100; }
.gv_panel img { position: absolute; }
.gv_overlay { position: absolute; background: #222; color: white; z-index: 200; }
.gv_showOverlay { position: absolute; width: 20px; height: 20px; background: url(themes/light/info.png) #222; cursor: pointer;z-index: 200;}
.gv_overlay h4 { color: white; margin: 1em; font-weight: bold; }
.gv_overlay p { color: white; margin: 1em; }
.gv_infobar { display:none; text-indent:-999em;}
/*************************************************/
/**   FILMSTRIP STYLES							**/
/*************************************************/
.gv_filmstripWrap { overflow: hidden; position: absolute;left: 32px!important;}
/* FILMSTRIP */
.gv_filmstrip { margin: 0; padding: 0; position: absolute; top: 0; }
/* FILMSTRIP FRAMES (contains both images and captions) */
.gv_frame { cursor: pointer;float: left;position: relative;margin: 0;padding: 0;}
/* WRAPPER FOR FILMSTRIP IMAGES */
.gv_frame img { border: none; position: absolute; }
/* WRAPPER FOR CURRENT FILMSTRIP IMAGE */
.gv_frame.current .gv_thumbnail {}
/* FRAME IMAGES */
.gv_frame img { border: none; position: absolute; }
/* FRAME CAPTION */
.gv_frame .gv_caption { height: 14px; line-height: 14px; font-size: 10px; text-align: center; color:white; }
/* CURRENT FRAME CAPTION */
.gv_frame.current .gv_caption { }
/* POINTER FOR CURRENT FRAME */
.gv_pointer {border-color: black;}
/* NAVIGATION BUTTONS */
.gv_navWrap {text-align: center; position: absolute;}
.gv_navPlay,
.gv_navPause,
.gv_navNext,
.gv_navPrev { display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline; vertical-align: middle;}
.gv_panelNavPrev,
.gv_panelNavNext {position: absolute; z-index: 200;}
.gv_navPlay { display:none;}
.gv_navPause { display:none;}
.gv_navNext { position:absolute; height: 9px; width: 6px; cursor: pointer; background: url(../images/tinyslideshow_right_arrow.png) top left no-repeat;
right:10px!important;}
.gv_navPrev { position:absolute; height: 9px; width: 6px; cursor: pointer; background: url(../images/tinyslideshow_left_arrow.png) top right no-repeat; left:-634px!important;}
.gv_panelNavNext { position:absolute; right:0!important; z-index:2000; height: 71px; width: 27px; cursor: pointer; background: url(../images/tinyslideshow_right_arrow_top.png) top left no-repeat;}
.gv_panelNavPrev { position:absolute; left:0!important; display:block; z-index:2000; height: 71px; width: 27px; cursor: pointer; background: url(../images/tinyslideshow_left_arrow_top.png) top right no-repeat;}

.vdtl {font-size: 18px;}

.social_facebook {background: url(../images/facebook.png); width:32px; height:32px; display:block; text-indent:-9999px}
.social_twitter {background: url(../images/twitter.png); width:32px; height:32px; display:block; text-indent:-9999px}
.social_youtube {background: url(../images/youtube.png); width:32px; height:32px; display:block; text-indent:-9999px}
.social_linkedin {background: url(../images/linkedin.png); width:32px; height:32px; display:block; text-indent:-9999px}

.social_facebook:hover {background: url(../images/hover_facebook.png); width:32px; height:32px; display:block; text-indent:-9999px}
.social_twitter:hover {background: url(../images/hover_twitter.png); width:32px; height:32px; display:block; text-indent:-9999px}
.social_youtube:hover {background: url(../images/hover_youtube.png); width:32px; height:32px; display:block; text-indent:-9999px}
.social_linkedin:hover {background: url(../images/hover_linkedin.png); width:32px; height:32px; display:block; text-indent:-9999px}

#separator { width:1px; float:left; border-right: solid 1px #CCC;}

.minph {min-width:130px; min-height:190px}


.hic3 {background: url(../images/header_icon3.png); width:16px; height:14px; display:block; cursor:pointer}
.hic3:hover {background: url(../images/header_icon3_hover.png); width:16px; height:14px; display:block;}

.hic2 {background: url(../images/header_icon2.png); width:16px; height:14px; display:block; cursor:pointer}
.hic2:hover {background: url(../images/header_icon2_hover.png); width:16px; height:14px; display:block;}

.hic1 {background: url(../images/header_icon1.png); width:16px; height:14px; display:block; cursor:pointer}
.hic1:hover {background: url(../images/header_icon1_hover.png); width:16px; height:14px; display:block;}

.fancybox-inner {
overflow-x: hidden !important;
}

.home_title {font-family:sans-serif, Arial, Helvetica; font-style: normal;}