			<div class="box_cautare">
			<form action="{$CONF.sitepath}cautari/" method="get" class="form_cautare">
			Cauta <input name="q" style="width:150px;" type="text" value="{$cautare->q}" /> in 
			<select name="c" style="width:150px;">
					<option value="0">Toate categoriile</option>
					{foreach from=$editura->colectii item=c}
						<option value="{$c->CLC_ID}" {if $cautare->c->clc_id eq $c->CLC_ID}selected{/if}>{if $c->adancime}&nbsp;&nbsp;&raquo; {/if}{$c->CLC_NUME}</option>
					{/foreach}
			</select>
			<img src="http://www.universuljuridic.ro/images/but_ok.gif" alt="Cauta" style="cursor:pointer" onclick="$('.form_cautare').submit()" />
			<a href="{$CONF.sitepath}cautari/" style="float:right;font-size:9px;">Cautari frecvente</a>
			<div style="display:none">
				<input type="submit" />
			</div>
			</form>
			</div>
			<div class="box_cautare_umbra">&nbsp;</div>