  <!--begin breadcrumb -->
    {include file="structura/breadcrumb.tpl}
    <!--end breadcrumb -->
    
    <!--begin content_wrapper -->
    <div id="content_wrapper">
       
        <!--begin content -->
        <div id="content">
            
            <!--begin left -->
            <div id="left">
            	
                <h1 class="page_title">Cariere</h1>
            	
                <div class="stuff_wrapper">
                            
                
                
                   {foreach from=$cariera item=item}
                   		{$item->departament}
                    {/foreach}
                 
           

                     
                </div>
            </div>
            <!--end left -->
            
            <!--begin right -->
            {include file="structura/dreapta.tpl"}
            <!--end right -->
            
        </div>
        <!--end content -->
        <div class="clear"></div>
        
    </div>
    <!--end content_wrapper -->