<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<script src="{$CONF.sitepath}/lib/js/jqueryv2.js" type="text/javascript"></script>
<script src="{$CONF.sitepath}/lib/flip/js/AC_RunActiveContent.js" type="text/javascript"></script>
<script src="{$CONF.sitepath}/lib/flip/js/PopUpWin.js" type="text/javascript"></script>
<body>
<style type="text/css">
{literal}
.info{
display:block;   
text-align:center;
color:333;
font-family:Tahoma;
font-size:12px;
top:4px;
height:15px;
background-color:#fff;
position:absolute;
left:385px;
height:45;
text-indent:-9999px;
background-image:url('{$CONF.sitepath}lib/flip/turn_page.png');
background-repeat:no-repeat;
width:200px;
display:none;
}
body{
background-color:#fff;
margin:0px;
padding:0px;
}
html,body{

}
{/literal}
</style>
{*min-width:760px;min-height:600px*}
<div style="text-align:center;position:relative;">
<span class="info">Prinde de colturi si intoarce pagina</span>
<div style="position:relative;">
<script type="text/javascript">
var width=760;
var height=600;

//var width=$(window).width();
//var height=$(window).height();
//
//if(height<600)
//height = 600;


AC_FL_RunContent( 'codebase','http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0','width',width,'height',height,'wmode','opaque','src','{$CONF.sitepath}/lib/flip/swf/Magazine','quality','high','pluginspage','http://www.macromedia.com/go/getflashplayer','bgcolor','#ffffff','allowFullScreen','true','allowScriptAccess','sameDomain','movie','{$CONF.sitepath}lib/flip/swf/Magazine' ); //end AC code
</script>
</div>
<div style="position:absolute;background-color:#ffffff;width:100%;height:50px;bottom:0px;left:0px;">&nbsp;</div>
</div></body></html>