<content width="{$pdfWidth}" height="{$pdfHeight}" bgcolor="ffffff" loadercolor="ffffff" panelcolor="ffffff" buttoncolor="666666" textcolor="333333">
{foreach from=$pagini item=pag}
	<page src="{$CONF.sitepath}{$pag}"/>
{/foreach}
</content>