{************
{include file=box_cautare.tpl}

<h2>Evenimente</h2>

{foreach from=$evenimente item=ev}

<a href='{$CONF.sitepath}evenimente/{$ev->ev_id}/{$ev->ev_titlu|safe_url}'><img src="http://www.universuljuridic.ro/img/thumbs/{$ev->ev_poza}" style="float:left;padding:7px;" /></a><div style="float:left;width:700px;"><a href='{$CONF.sitepath}evenimente/{$ev->ev_id}/{$ev->ev_titlu|safe_url}'><b>{$ev->ev_titlu}</b></a>	<br/>{$ev->ev_continut|clean_substr:300}...</div>

</div>

{/foreach}
****************}


<!--begin left -->
<div id="left">

	<h1 class="page_title">Evenimente</h1>
    
    <!-- begin pagination -->
    <div class="pagination_wrapper">
    	<form method="post" action="" class="rezultate_form">
            <select name="1" class="clasa_select">
                <option value="1">2011</option>
                <option value="2">2011</option>
                <option value="3">2011</option>
            </select>
            <select name="1" class="clasa_select">
                <option value="1">Ianuarie</option>
                <option value="2">Ianuarie</option>
                <option value="3">Ianuarie</option>
            </select>
        </form>
    
        <div class="afiseaza_pagination">
        	<span>Afiseaza: &nbsp;<a href="#" class="nr_afisari">20</a>&nbsp; pe pagina &nbsp;|&nbsp; Toate 140</span>
        </div>
        <div class="pagination">
            <span class="inactive"><a href="#"><span class="pagination_arrow">&lsaquo;&lsaquo;</span></a><a href="#"><span class="pagination_arrow black">&lsaquo;</span></a></span><span class="inactive"><a href="#">1</a></span><span class="inactive"><a href="#">2</a></span><span class="active"><a href="#">3</a></span><span class="inactive"><a href="#">4</a></span><span class="inactive"><a href="#">5</a><span class="inactive"><a href="#">...</a><span class="inactive big_no"><a href="#">(35)</a></span><span class="inactive"><a href="#"><span class="pagination_arrow black">&rsaquo;</span></a><a href="#"><span class="pagination_arrow">&rsaquo;&rsaquo;</span></a></span>
        </div>
    </div>
	<!-- end pagination -->

	{***
	<div class="evenimente_box">
        <a href="#" title="Picture" class="left"><img src="{$CONF.sitepath}pub/images/evenimente_pic.jpg" width="194" height="128" alt="Picture" class="small_border_img" /></a>
        <h2><a href="#" title="#">VentureConnect – Intercontinental</a></h2>
        <span class="date_accesari"><a href="#" title="#">20 iunie 2011</a> | <a href="#" title="#">128 accesari</a></span>
        <a href="#" title="#">În data de 20 iunie, sala Rapsodia a hotelului Intercontinental a găzduit cea de-a 3-a ediţie a VentureConnect, locul unde antreprenorii îşi găsesc investitorii şi unde investitorii îşi găsesc oportunităţile.  La această ediţie au fost prezentate 14 proiecte, fiecare tânăr antreprenor încercând să atragă investitorii printr-o prezentare cât mai</a>
    </div>
    <div class="evenimente_box">
        <a href="#" title="Picture" class="left"><img src="{$CONF.sitepath}pub/images/evenimente_pic.jpg" width="194" height="128" alt="Picture" class="small_border_img" /></a>
        <h2><a href="#" title="#">VentureConnect – Intercontinental</a></h2>
        <span class="date_accesari"><a href="#" title="#">20 iunie 2011</a> | <a href="#" title="#">128 accesari</a></span>
        <a href="#" title="#">În data de 20 iunie, sala Rapsodia a hotelului Intercontinental a găzduit cea de-a 3-a ediţie a VentureConnect, locul unde antreprenorii îşi găsesc investitorii şi unde investitorii îşi găsesc oportunităţile.  La această ediţie au fost prezentate 14 proiecte, fiecare tânăr antreprenor încercând să atragă investitorii printr-o prezentare cât mai</a>
    </div>
    <div class="evenimente_box">
        <a href="#" title="Picture" class="left"><img src="{$CONF.sitepath}pub/images/evenimente_pic.jpg" width="194" height="128" alt="Picture" class="small_border_img" /></a>
        <h2><a href="#" title="#">VentureConnect – Intercontinental</a></h2>
        <span class="date_accesari"><a href="#" title="#">20 iunie 2011</a> | <a href="#" title="#">128 accesari</a></span>
        <a href="#" title="#">În data de 20 iunie, sala Rapsodia a hotelului Intercontinental a găzduit cea de-a 3-a ediţie a VentureConnect, locul unde antreprenorii îşi găsesc investitorii şi unde investitorii îşi găsesc oportunităţile.  La această ediţie au fost prezentate 14 proiecte, fiecare tânăr antreprenor încercând să atragă investitorii printr-o prezentare cât mai</a>
    </div>
    <div class="evenimente_box">
        <a href="#" title="Picture" class="left"><img src="{$CONF.sitepath}pub/images/evenimente_pic.jpg" width="194" height="128" alt="Picture" class="small_border_img" /></a>
        <h2><a href="#" title="#">VentureConnect – Intercontinental</a></h2>
        <span class="date_accesari"><a href="#" title="#">20 iunie 2011</a> | <a href="#" title="#">128 accesari</a></span>
        <a href="#" title="#">În data de 20 iunie, sala Rapsodia a hotelului Intercontinental a găzduit cea de-a 3-a ediţie a VentureConnect, locul unde antreprenorii îşi găsesc investitorii şi unde investitorii îşi găsesc oportunităţile.  La această ediţie au fost prezentate 14 proiecte, fiecare tânăr antreprenor încercând să atragă investitorii printr-o prezentare cât mai</a>
    </div>
    <div class="evenimente_box">
        <a href="#" title="Picture" class="left"><img src="{$CONF.sitepath}pub/images/evenimente_pic.jpg" width="194" height="128" alt="Picture" class="small_border_img" /></a>
        <h2><a href="#" title="#">VentureConnect – Intercontinental</a></h2>
        <span class="date_accesari"><a href="#" title="#">20 iunie 2011</a> | <a href="#" title="#">128 accesari</a></span>
        <a href="#" title="#">În data de 20 iunie, sala Rapsodia a hotelului Intercontinental a găzduit cea de-a 3-a ediţie a VentureConnect, locul unde antreprenorii îşi găsesc investitorii şi unde investitorii îşi găsesc oportunităţile.  La această ediţie au fost prezentate 14 proiecte, fiecare tânăr antreprenor încercând să atragă investitorii printr-o prezentare cât mai</a>
    </div>
    ***}
    
    {foreach from=$evenimente item=item}
    <div class="evenimente_box">
    	<a href="{$CONF.sitepath}{$item->link_nou}" title="{$item->ev_titlu}" class="left">
    		<img src="{$CONF.sitepath}pub/images/{$item->ev_poza}" width="194" height="128" alt="{$item->ev_titlu}" class="small_border_img" />
    	</a>
    	
    	<h2><a href="{$CONF.sitepath}{$item->link_nou}" title="{$item->ev_titlu}">{$item->ev_titlu}</a></h2>    	
    	
    	<span class="date_accesari"><a href="#" title="#">{$item->ev_data}</a> | <a href="#" title="#">128 accesari</a></span>
    	
    	<a href="#" title="#">{$item->ev_continut}</a>
    </div>
    {/foreach}
    
    
    <!-- begin pagination -->
    <div class="pagination_wrapper">
        <div class="afiseaza_pagination">
        	<span>Afiseaza: &nbsp;<a href="#" class="nr_afisari">20</a>&nbsp; pe pagina &nbsp;|&nbsp; Toate 140</span>
        </div>
        <div class="pagination">
            <span class="inactive"><a href="#"><span class="pagination_arrow">&lsaquo;&lsaquo;</span></a><a href="#"><span class="pagination_arrow black">&lsaquo;</span></a></span><span class="inactive"><a href="#">1</a></span><span class="inactive"><a href="#">2</a></span><span class="active"><a href="#">3</a></span><span class="inactive"><a href="#">4</a></span><span class="inactive"><a href="#">5</a><span class="inactive"><a href="#">...</a><span class="inactive big_no"><a href="#">(35)</a></span><span class="inactive"><a href="#"><span class="pagination_arrow black">&rsaquo;</span></a><a href="#"><span class="pagination_arrow">&rsaquo;&rsaquo;</span></a></span>
        </div>
    </div>
	<!-- end pagination -->

</div>
<!--end left -->