		<div id="div_recomanda_resp">
		<div id="div_recomanda_continut" style="background-color:#f9f9f9;border:solid 2px #646f4d;padding:10px">
		<table style="font-size:10px;">
			<tr>
				<td>Numele tau:</td>
				<td><input type="text" id="form_numele_from" style="width:130px;"/></td>
			</tr>
			<tr>
				<td>E-mailul tau:</td>
				<td><input type="text" id="form_email_from" style="width:130px;"/></td>
			</tr>
			<tr>
				<td>Numele prietenului:</td>
				<td><input type="text" id="form_numele_to" style="width:130px;"/></td>
			</tr>
			<tr>
				<td>E-mailul prietenului:</td>
				<td><input type="text" id="form_email_to" style="width:130px;"/></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Trimite !" onclick="trimite_mail('{$CONF.sitepath}ajax/{$pbl_id}/');" /></td>
				<td></td>
			</tr>
		</table>
		<div id="div_recomanda_resp"></div>
		</div>
		</div>
{literal}
<script type="text/javascript">
function trimite_mail(url){
	$.ajax({
		url:url,
		type:"GET",
		data: {nume_from: $('#form_numele_from').val(),email_from: $('#form_email_from').val(),nume_to: $('#form_numele_to').val(),email_to: $('#form_email_to').val()},
		async:false,
		success: function(response){
			$("#div_recomanda_resp").html(response);
		}
	})
}
</script>
{/literal}