            <!--begin left -->
            <div id="left">
            	<h1 class="page_title">Interviuri</h1>
                <div class="interviuri_box">
                    <a class="left"><img src="http://www.ujmag.ro/fisiere/interviu/{$interviu->poza}" width="194" height="128" alt="{$interviu->titlu}" class="small_border_img" /></a>
                    <h2>{$interviu->titlu}</h2>
                    <h3>{$interviu->subtitlu}</h3>
                    <span class="date_accesari"><a href="#" title="#">20 iunie 2011</a> | <a href="#" title="#">128 accesari</a></span>
                    <p>Lorem ipsum dolor sit amet, silva silvae la toamna tataie, ist dolor mi que. Quntum es tritibus lores et oana mas beni, del potro sicineres trasibus linqu sitrius gratius finta es. gratias matter est patter dulus sinuous vicis eres tu.</p>
                </div>
                
                {foreach from=$interviu->intrebari item=item}
                <h5>{$item->intrebare}</h5>
                <p>{$item->text}</p>
                {/foreach}
                
                <ul class="interviuri_list">
                	<li><a href="{$CONF.sitepath}interviuri" title="Vezi toate interviurile">Vezi toate interviurile &rsaquo;&rsaquo;</a></li>
{literal}
<div style="margin-top:45px">
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:comments href="{/literal}{$CONF.sitepath}interviuri/{$interviu->titlu|toAscii}/{$interviu->id}{literal}" num_posts="2" width="650"></fb:comments>
</div>
{/literal}
                    </li>
                </ul>
            </div>
            <!--end left -->