{include file=box_cautare.tpl}
{if $campanii|@count}
<script type="text/javascript" src="http://www.ujmag.ro/js/jquery.cycle.js"></script>
	<div style="width:100%;background-color:#e1e1e1;text-align:center;height:158px;" class="oferte_speciale">
{foreach from=$campanii item=oferta_speciala_acasa_obj}
	<a target="_blank" style="padding-left:8px;" {if $oferta_speciala_acasa_obj->campanie_link || $oferta_speciala_acasa_obj->carte->pbl_seoa}href="{if $oferta_speciala_acasa_obj->campanie_link}{$oferta_speciala_acasa_obj->campanie_link}{elseif $oferta_speciala_acasa_obj->carte->pbl_seoa}{$CONF.sitepath}{$oferta_speciala_acasa_obj->carte->pbl_seoa}/{$oferta_speciala_acasa_obj->carte->pbl_seo}/{/if}"{/if}>
		<img src="{$oferta_speciala_acasa_obj->cale_fisier}" alt="Oferta speciala" />
	</a>
{/foreach}
</div><script type="text/javascript">
{literal}
$('.oferte_speciale').cycle({fx: 'scrollUp',timeout: 10500});
{/literal}
</script>
{/if}
<div class="descriere">
{foreach from=$publicatii item=carte name=carte}
{include file='carte.box.patrat.tpl'}
{/foreach}
</div>