<div  style="width:164px;height:232px;border:1px solid #cdccca;text-align:center;float:left;{if ($smarty.foreach.carte.iteration+1)%3 eq 0}margin-left:16px;margin-right:16px;{/if}margin-top:5px;margin-bottom:5px;">
	<a href="{$CONF.sitepath}{$carte->pbl_seoa}/{$carte->pbl_seo}/"><img src="http://www.ujmag.ro/resize_pic/90x125/{$carte->pbl_filename}" alt="{$carte->pbl_titlu}" title="{$carte->pbl_titlu}" /></a>
	<div style="height:26px;overflow:hidden;"><a title="{$carte->pbl_titlu}" href="{$CONF.sitepath}{$carte->pbl_seoa}/{$carte->pbl_seo}/">{$carte->pbl_titlu}</a></div>
	<div style="height:26px;overflow:hidden;">
	{foreach from=$carte->autori key=titlu_autor item=autor name=list_aut}
		{if !$smarty.foreach.list_aut.first}<br/>{/if}{$titlu_autor}:
		{section name=j loop=$autor max=2}
			<a href="{$CONF.sitepath}{$autor[j]->autor_seo}/">{$autor[j]->autor_nume}</a>{if $autor[j.index_next]->autor_nume},{/if}
			{if $autor[j.index_next]->autor_nume && $smarty.section.j.index eq 1}...{/if}
		{/section}
		{/foreach}
	</div>
	<div class="pret" style="height:13px;overflow:hidden;">{if $carte->pbl_pret gt 0}{$carte->pbl_pret} lei <span class="extra_pret">(cu TVA)</span>{/if}</div>
	{*<div style="height:39px;padding-top:3px;"><a target="_blank" href="http://www.ujmag.ro/{$carte->pbl_seoa}/{$carte->pbl_seo}/"><img style="vertical-align:middle;" src="http://www.universuljuridic.ro/buton_uj_2.jpg" alt="Comanda" /></a></div>*}
	{if $carte->no_sale!='1'}<a target="_blank" href="http://www.ujmag.ro/{$carte->pbl_seoa}/{$carte->pbl_seo}/"><img src="http://www.universuljuridic.ro/buton_uj_2.jpg" alt="Comanda" /></a>
	{/if}
</div>