<div  style="clear:both;width:500px;height:150px">
	<a style="display:block;float:left;" href="{$CONF.sitepath}{$carte->pbl_seoa}/{$carte->pbl_seo}/"><img src="http://www.ujmag.ro/resize_pic/90x125/{$carte->pbl_filename}" alt="{$carte->pbl_titlu}" title="{$carte->pbl_titlu}" /></a>
	<div  style="float:left;width:400px;padding-left:4px;padding-top:5px;">
	<br/>
		<div><a title="{$carte->pbl_titlu}" href="{$CONF.sitepath}{$carte->pbl_seoa}/{$carte->pbl_seo}/">{$carte->pbl_titlu}</a></div>
		<div>
		{foreach from=$carte->autori key=titlu_autor item=autor}
		<br/>{$titlu_autor}:
		{section name=j loop=$autor max=2}
			<a href="{$CONF.sitepath}{$autor[j]->autor_seo}/">{$autor[j]->autor_nume}</a>{if $autor[j.index_next]->autor_nume},{/if}
			{if $autor[j.index_next]->autor_nume && $smarty.section.j.index eq 1}...{/if}
		{/section}

		{/foreach}
		</div>
	<div class="pret" style="line-height:40px;vertical-align:middle;">{if $carte->pbl_pret gt 0}{$carte->pbl_pret} lei <span class="extra_pret">(cu TVA)</span>{/if}{if $carte->no_sale!='1'}<a target="_blank" href="http://www.ujmag.ro/{$carte->pbl_seoa}/{$carte->pbl_seo}/"><img style="vertical-align:middle;" src="http://www.universuljuridic.ro/buton_uj_2.jpg" alt="Comanda" /></a>{/if}</div>

	</div>
	<div class="clear_both"></div>
</div>
