{include file=box_cautare.tpl}
<ul>
{foreach from=$cautari item=cautare}
<li><a href="{$CONF.sitepath}cautari/?q={$cautare->q}&c={$cautare->c->clc_id}">Publicatii cu titlul <em>&quot;<b>{$cautare->q}</b>&quot;</em> {if $cautare->c->clc_id} in colectia <em>&quot;{$cautare->c->clc_nume}&quot;</em>{else} in toate colectiile{/if}</a></li>
{/foreach}
</ul>