        <!--begin content -->
        <div id="content">
        
			<!--begin left -->
            <div id="left">                

				<!--begin breadcrumb -->
                <div class="breadcrumb"><a href="{$CONF.sitepath}" title="Acasa">Home</a> / <a href="{$CONF.sitepath}contact" title="Editura">Contact</a></div>
                <!--end breadcrumb -->
                
            	<h1 class="page_title nomargin">Contact</h1>
            	<br />
				<br />
				Contact
				<br /><br />
				
				
				
			</div>
			<!-- end left -->
			
			{include file='structura/right.tpl'}
			
			
        </div>
        <!--end content -->
        
