{include file=box_cautare.tpl}
<h2>Evenimente</h2>
{foreach from=$evenimente item=ev}
<div style="clear:both;padding-bottom:4px;margin-bottom:4px;border-bottom:1px solid #cecece;">
<a href='{$CONF.sitepath}evenimente/{$ev->ev_id}/{$ev->ev_titlu|safe_url}'><img src="http://www.universuljuridic.ro/img/thumbs/{$ev->ev_poza}" style="float:left;padding:7px;" /></a><div style="float:left;width:700px;"><a href='{$CONF.sitepath}evenimente/{$ev->ev_id}/{$ev->ev_titlu|safe_url}'><b>{$ev->ev_titlu}</b></a>	<br/>{$ev->ev_continut|clean_substr:300}...</div>
<div style="clear:both"></div>
</div>
{/foreach}