{include file=box_cautare.tpl}
<h1>{$eveniment->ev_titlu}</h1>
<a href="http://www.universuljuridic.ro/img/orig/{$eveniment->ev_poza}"  rel="facebox" class="imagine">
<img src="http://www.universuljuridic.ro/img/medium/{$eveniment->ev_poza}" style="float:left;padding:7px;" />
</a>
{$eveniment->ev_continut}
<br/>
Data: {$eveniment->ev_data|dataRom}<br/>
<div style="clear:both"></div>
{foreach from=$eveniment->poze item=pic}
<a href="http://www.ujmag.ro/resize_pic/500x500/{$pic->imagine_poza}/fc.jpg" rel="facebox[galerie]"><img src="{$pic->url_mica}" /></a>
{/foreach}
<div style="clear:both"></div>