{include file=box_cautare.tpl}
<h1>Editura PRO Universitaria</h1>

					<div style="margin-left:20px">
<b>Colecţia Drept:</b>
<br><br>1. Prof. univ. dr. CONSTANTIN MITRACHE<br>

Universitatea din Bucureşti

<br><br>2. Prof. univ. dr. EMILIAN STANCU<br>

Universitatea din Bucureşti

<br><br>3. Prof. univ. dr. EMIL MOLCUŢ<br>

Universitatea din Bucureşti


<br><br>4. Prof. univ. dr. EMIL CERNEA<br>

Universitatea din Bucureşti<br><br><br><br>
<b>
Colecţia Ştiinţe Economice</b>
<br><br>1. Prof. univ. dr. VIRGIL ADĂSCĂLIŢEI<br>

Universitatea Creştină „Dimitrie Cantemir”
Academia de Studii Economica Bucureşti

<br><br>2. Prof. univ. dr. GHEORGHE BISTRICEANU<br>

Universitatea Creştină „Dimitrie Cantemir”
Academia de Studii Economica Bucureşti

<br><br>3. Prof. univ. dr. GHEORGHE HURDUZEU<br>

Academia de Studii Economica Bucureşti


					</div>