<table border="0" cellspacing="0" cellpadding="0">
<tr>
<td>Nume:</td>
<td>{$smarty.post.nume}</td>
</tr>
<tr>
<td>Email:</td>
<td>{$smarty.post.email}</td>
</tr>
<tr>
<td>Mesaj:</td>
<td>{$smarty.post.mesaj}</td>
</tr>
</table>