				<div class="g4">




<b>Ultimele cinci publicatii:</b>
<ul class="nostyle">
{foreach from=$publicatii_dreapta item=carte}
<li>
<div  style="clear:both;">
	<a style="display:block;float:left;" href="{$CONF.sitepath}{$carte->pbl_seoa}/{$carte->pbl_seo}/"><img src="http://www.ujmag.ro/resize_pic/40x50/{$carte->pbl_filename}" alt="{$carte->pbl_titlu}" title="{$carte->pbl_titlu}" style="padding:3px;"  /></a>
	<div style="float:left;width:194px;margin-top:2px;">
		<div><a title="{$carte->pbl_titlu}" style="font-style:italic;" href="{$CONF.sitepath}{$carte->pbl_seoa}/{$carte->pbl_seo}/">{$carte->pbl_titlu}</a></div>
		<div style="margin-top:3px;">
		{foreach from=$carte->autori key=titlu_autor item=autor}
		{$titlu_autor}:
		{section name=j loop=$autor max=2}
			<a href="{$CONF.sitepath}{$autor[j]->autor_seo}/">{$autor[j]->autor_nume}</a>{if $autor[j.index_next]->autor_nume},{/if}
			{if $autor[j.index_next]->autor_nume && $smarty.section.j.index eq 1}...{/if}
		{/section}
		{/foreach}
		</div>
	<div class="pret" style="margin-top:2px;">{if $carte->pbl_pret gt 0}{$carte->pbl_pret} lei <span class="extra_pret">(cu TVA)</span>{/if}</div>
	</div>
	<div style="clear:both;"></div>
</div>
<div style="margin-top:2px;clear:both;border-top:1px solid #cccccc;font-size:1px;height:1px;line-height:1px;">&nbsp;</div>
</li>
{/foreach}
</ul>

				</div>