<div class="box">
					<div class="header"><a href="{$CONF.sitepath}" style="color:#ffffff;">Colectii</a></div>
					{foreach from=$editura->colectii item=c}
						
						<a href="{$CONF.sitepath}{$c->CLC_SEO}/" class="el {if $c->adancime}sub{/if}">{if $c->adancime}<img width="4" height="9" src="http://www.universuljuridic.ro/images/subcat_arr.gif" alt="">{/if}{$c->CLC_NUME}</a>
					{/foreach}
				</div>

				<div class="box">
					<div class="header">Newsletter</div>
					<div class="el">Vreti sa fiţi la curent cu promoţiile Editurii PRO Universitaria? Scrieţi mai jos adresa dvs. de email.
					<form name="frmNewsletter" id="frmNewsletter" action="http://www.universuljuridic.ro/" target="_blank" method="post">
			 			<input name="actnews" id="actnews" value="inscrie" type="hidden" />
		      			<input name="newsletterEmail" id="newsletterEmail" class="inputform" style="width: 140px;" type="text" />
	          			<img src="http://www.universuljuridic.ro/images/but_ok.gif" alt="Aboneaza" onclick="document.forms['frmNewsletter'].submit();" style="cursor: pointer;" align="top" border="0" width="16" height="15" />
					</form>
					</div>
				</div>
				
				<div class="box">
<a href="http://www.ujmag.ro/catalog/catalog.pdf?pdf=1&mail=0&print=0&excel=0&numele_from=&email_from=&numele_to=&email_to=&tip=0&categoria=0&editura=12&colectia=" target="_blank"><img src="http://www.prouniversitaria.ro/pub/img/descarca_pro.jpg" border="0" align="descarca" /></a>
				</div>				
				
				
<div style="text-align:center;">
{*
<script type="text/javascript" src="http://content.gruprc.ro/hcodverde/codverde.js"></script>
*}
<br/><br/>
<a href="http://www.studentie.ro/" target="_blank"><img alt="studentie.ro" src="http://www.universuljuridic.ro/img/bannere/banner_studentie.jpg" /></a>
<br/><br/>
<a href="http://www.casadetraduceri.ro/" target="_blank"><img alt="casadetraduceri.ro" src="http://www.universuljuridic.ro/img/bannere/ct.jpg" /></a>
<br/><br/>
<a href="http://www.minipagini.ro/" target="_blank"><img alt="minipagini.ro" src="http://www.universuljuridic.ro/img/bannere/mp.jpg" /></a>
<br/><br/>
<a href="http://www.myjob.ro/"  target="_blank"><img alt="myjob.ro" src="http://www.ujmag.ro/s-img/logo_myjob.gif" /></a>

</div>